
    @{
        Layout = null;
    }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hero Future Energies</title>

    <link rel="icon" type="image/x-icon" href="~/Content/img/CMMS_Logo.png">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/theme/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/theme/dist/css/adminlte.min.css">


    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        .login-box {
            width: 965px !important;
        }

        .login-box-msg {
            padding: 0 2px 10px !important;
            text-align: left !important;
        }
    </style>
</head>

<body class="hold-transition login-page">

    <div class="login-box">

        <!-- /.login-logo -->
        <div class="card" style="border-radius:20px">
            <div class="card-body login-card-body" style="border-radius:20px">
                <div class="col-md-12 row">
                    <div class="col-md-8">
                        <div class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/Content/img/1.jpeg" style=" width: 100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="~/Content/img/2.jpeg" style=" width: 100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="~/Content/img/4.jpeg" style=" width: 100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="~/Content/img/7.jpeg" style=" width: 100%;">
                                </div>
                                <div class="carousel-item ">
                                    <img src="~/Content/img/8.jpg" style=" width: 100%;">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <img src="~/Content/img/logo.jpeg" style=" width: 60%;" />
                        <p> &nbsp</p>
                        <p class="login-box-msg"> Sign in</p>
                        
                            <div class="input-group mb-3">
         <input type="email" name="username" id="username" class="form-control" onkeypress="UserEnter(event);" placeholder="Username" autofocus>
         <div class="input-group-append">
             <div class="input-group-text">
                 <span class="fas fa-envelope"> </span>
             </div>
         </div>
     </div>
                            <div class="input-group mb-3">
                                <input type="password" name="pass" id="pass" class="form-control" placeholder="Password" onkeypress="Press(event);">


                                <div class="input-group-append">
                                    <div class="input-group-text" onmouseover="MouseOut();" onmouseout="MouseOver();" style="">
                                        <span class="fas fa-eye" > </span>
                                    </div>
                                </div>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <a href="@Url.Action("SSOLOgin","Home")" style="display:none" id="aSSOLogin"></a>
                                @*  <div class="col-8" style="font-size: 14px;">
                                <label style="color: red; font-weight: unset;display:none" id="msg"></label>
                                <a href="@Url.Action("SSOLOgin","Home")" class="btn btn-primary btn-block">SSO Login</a>
                                </div>*@
                                <!-- /.col -->
                                <div class="col-8" style="font-size: 14px;">
                                    <label style="color: red; font-weight: unset;display:none" id="msg"></label>
                                    <button type="button" class="btn btn-primary btn-block" onclick="Login();"> Login</button>

                                </div>
                                <!-- /.col -->
                            </div>
                        
                    </div>
                </div>




            </div>

        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->

    <script src="~/Content/theme/plugins/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/theme/dist/js/adminlte.min.js"></script>
    <script src="~/Content/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        function Press(event) {
            if (event.key == "Enter") {
                Login();
            }
        }
        function UserEnter(event) {
            if (event.key == "Enter") {
                console.log("clicked Enter");
                console.log("Inside If");
                var a = document.getElementById("pass");
                if (a.value == "") {
                    a.focus();
                } else {
                    Login();
                }
                
            }
        }

        function MouseOut() {
            var a = document.getElementById("pass");
            if (a.type == "password") {
                a.type = "text";
            }
        }
        function MouseOver() {
            var a = document.getElementById("pass");
            if (a.type == "text") {
                a.type = "password";
            }
        }
        function Login() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("pass").value;
            if (username == "" || password == "") {
                document.getElementById("msg").style.display = 'block';
                document.getElementById("msg").innerHTML = 'Please Enter Require Filed';
                timerA = setInterval(function () {
                    document.getElementById("msg").style.display = 'none';
                    clearInterval(timerA);
                }, 5000);
                return false;

            }
            //if (username.includes('@@herofutureenergies.com')) {
            if (username.includes('@@kamaleshs48gmail.onmicrosoft.com')) {
                $("#aSSOLogin")[0].click();
            }
            else {
                $.ajax({

                    type: "POST",
                    url: '@Url.Action("Login", "Home")' + '?username=' + username + '&pass=' + password,

                    // url:"/Home/Login?username=" + username + "&pass=" + password,
                    contentType: "application/json; charset=utf-8",
                    //data: '{"username":"' + username + '","pass":"' + password + '"}',
                    dataType: "html",
                    success: function (result, status, xhr) {
                        console.log(result);
                        // var data = JSON.parse(result);
                        //console.log(data[0]['status']);
                        if (result == 'Success') {
                            //return RedirectToAction("Dashbord", "Home");

                            window.location.href = "@Url.Action("Dashbord", "Home")";//d"/DGRA_Web/Home/Dashbord"; //Remote server
                            //window.location.href = "/Home/Dashbord"; //Local
                        }
                        else {
                            document.getElementById("msg").style.display = 'block';
                            document.getElementById("msg").innerHTML =result;// 'Creadintial are Incorrect';
                            timerA = setInterval(function () {
                                document.getElementById("msg").style.display = 'none';
                                clearInterval(timerA);
                            }, 5000);
                        }

                    },
                    error: function (xhr, status, error) {
                        //$("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                    }

                });
            }
        }
        $(document).ready(function () {
            setInterval(function () {
                updateLoginDetails();
            }, 1000 * 60 * 2);
        });


        // updateLoginDetails();
        function updateLoginDetails() {
            $.ajax({

                type: "POST",
                url: '@Url.Action("UpdateLoginStatus", "Home")' + '?userID=' + 0,

                // url:"/Home/Login?username=" + username + "&pass=" + password,
                contentType: "application/json; charset=utf-8",
                //data: '{"username":"' + username + '","pass":"' + password + '"}',
                dataType: "html",
                success: function (result, status, xhr) {
                    console.log(new Date());
                    // var data = JSON.parse(result);
                    //console.log(data[0]['status']);
                    if (result == 'Success') {
                        //return RedirectToAction("Dashbord", "Home");


                    }
                    else {

                    }

                },
                error: function (xhr, status, error) {
                    console.log(error);
                    //$("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }

            });
        }



    </script>
</body>
</html >
