@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Solar Approval";
}
<!--<script>
    window.onload = function () {
        alert("caal");
    }
</script>-->
<!-- Content Wrapper. Contains page content -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/theme/plugins/fontawesome-free/css/all.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/theme/plugins/daterangepicker/daterangepicker.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/multiple-select/dist/multiple-select.min.css" />
<link href="~/Content/theme/dist/css/adminlte.css" rel="stylesheet" />

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <section class="content-header">
        <!--<div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Solar Approval</li>
                    </ol>
                </div>
            </div>
        </div>-->
    </section>


    <section class="content">


        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Solar Approval</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <!--<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>-->
                </div>
            </div>
            <div class="card-body">
                <!--<div class="row">
                    <label for="date" class="col-2 col-form-label">Date</label>
                    <div class="col-2">
                        <div class="input-group date" id="datepicker">
                            <input type="text" class="form-control" id="date" />
                            <span class="input-group-append">
                                <span class="input-group-text bg-light d-block">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <label for="date" class="col-2 col-form-label">Date</label>
                    <div class="col-2">
                        <div class="input-group date" id="datepicker">
                            <input type="text" class="form-control" id="date" />
                            <span class="input-group-append">
                                <span class="input-group-text bg-light d-block">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <label for="date" class="col-2 col-form-label">Date</label>
                    <div class="col-2">
                        <div class="input-group date" id="datepicker">
                            <input type="text" class="form-control" id="date" />
                            <span class="input-group-append">
                                <span class="input-group-text bg-light d-block">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <br>-->
                <!--<div class="row">
                    <div class="col-sm-4">

                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">From Date : </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control datetimepicker-input " data-target="" />
                                    <div class="input-group-append" data-target="" data-toggle="datetimepicker">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">

                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">To Date : </label>
                                <input type="text" class="form-control datetimepicker-input col-sm-6" data-target="" />
                                <div class="input-group-append" data-target="" data-toggle="datetimepicker">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">

                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">Country : </label>
                                <select class="form-control  col-sm-8" id="country" name="country" value="">

                                    <option value="india" selected>India</option>


                                </select>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="row">
                    <div class="col-sm-4">
                        <!-- select -->
                        <div class="form-group row">
                            <label for="date" class="col-4 col-form-label text-right">From Date : </label>
                            <div class="col-8">
                                <div class="input-group date" id="datepicker" style="width: 105%; margin-left: -3%;">
                                    <input type="text" class="form-control" id="fromDate" name="fromDate" />
                                    <span class="input-group-append">
                                        <span class="input-group-text bg-light d-block">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- select -->
                        <div class="form-group row">
                            <label for="date" class="col-4 col-form-label text-right">To Date : </label>
                            <div class="col-8">
                                <div class="input-group date" id="datepicker" style="width: 105%; margin-left: -3%;">
                                    <input type="text" class="form-control" id="toDate" name="toDate" />
                                    <span class="input-group-append">
                                        <span class="input-group-text bg-light d-block">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- select -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">Country : </label>
                                <select class="form-control  col-sm-8" id="country" name="country" value="">

                                    <option value="india" selected>India</option>


                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-4">
                        <!-- select -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">State : </label>
                                <select class="form-control  col-sm-8" id="state" name="state" value="" onchange="GetSPV(this.value);">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- select -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">SPV : </label>
                                <select class="form-control  col-sm-8" id="spv" name="spv" value="" onchange="getSite()">
                                    <option value="">Select SPV</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- select -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">Site : </label>
                                <select class="form-control  col-sm-8" id="site" name="site" value="" onchange="GetWTG(this.value)">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <!-- select -->
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-4 col-form-label text-right">WTG : </label>
                                <select class="form-control  col-sm-8" id="wtg" name="wtg">
                                    <option value="">Select WTG</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8"></div>

                </div>
                <div class="row">
                    <div class="col-sm-5 text-center"></div>
                    <div class="col-sm-2 text-center">
                        <button type="button" class="btn btn-block btn-primary" onclick="GetBreakdownReport();">Search</button>
                    </div>
                    <div class="col-sm-5 text-center"></div>
                </div>
                <hr>
                <div id="reports"></div>
                <!--<table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Country</th>
                            <th>State</th>
                            <th>SPV</th>
                            <th>Site</th>
                            <th>WTG</th>
                            <th>BD Type</th>
                            <th>Start From</th>
                            <th>Stop To</th>
                            <th>Total Stop</th>
                            <th>Reason of Breakdown</th>
                            <th>Action Taken</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                    </tbody>
                </table>-->

            </div>

            <div class="card-footer">
                Footer
            </div>

        </div>


    </section>

</div>
<script src="~/Content/theme/plugins/jquery/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!--<script src="~/Content/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/theme/plugins/select2/js/select2.full.min.js"></script>
<script src="~/Content/theme/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>-->
<!--Date Range -->
<script src="~/Content/theme/plugins/moment/moment.min.js"></script>
<script src="~/Content/theme/plugins/daterangepicker/daterangepicker.js"></script>
<script src="~/Content/theme/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="~/Content/theme/plugins/multiple-select/dist/multiple-select.min.js" defer></script>
<script src="~/Content/theme/plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="~/Content/theme/plugins/daterangepicker/daterangepicker.js" defer></script>

<script src="~/Content/theme/plugins/summernote/summernote-bs4.min.js"></script>
<!--Datatable -->
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/theme/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/theme/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/theme/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js"></script>
<script src="~/Content/theme/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Content/theme/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script type="text/javascript">

    window.onload = function () {
        var selcountry = $('select#country option:selected').val();
        $.ajax({
            type: "GET",
            //url: "/SolarReport/GetStateList?countryname=" + selcountry,
            url: '@Url.Action("GetStateList", "SolarReport")' + '?countryname=' + selcountry,
            contentType: "application/json; charset=utf-8",
            //data: '{"countryname":"' + selcountry + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                options += '<option value="">Select State</option>';
                for (var i = 0; i < result.length; i++) {
                    options += '<option value="' + result[i].state + '">' + result[i].state + '</option>';
                }
                $("#state").html(options);
            }
        });
        //getSite();
    }
    /*function GetCountry(val) {
        $.ajax({
            type: "GET",
            url: "/WindReport/GetStateList?countryname=" + val,
            contentType: "application/json; charset=utf-8",
            //data: '{"countryname":"' + selcountry + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                options += '<option value="">Select State</option>';
                for (var i = 0; i < result.length; i++) {
                    options += '<option value="' + result[i].state + '">' + result[i].state + '</option>';
                }
                $("#state").html(options);
            }
        });
    }*/

    function GetSPV(val) {
        $.ajax({
            type: "GET",
            //url: "/SolarReport/GetSPVList?state=" + val,
            url: '@Url.Action("GetSPVList", "SolarReport")' + '?state=' + val,
            contentType: "application/json; charset=utf-8",
            //data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                options += '<option value="">Select SPV</option>';
                for (var j = 0; j < result.length; j++) {
                    options += '<option value="' + result[j].spv + '">' + result[j].spv + '</option>';
                }
                $("#spv").html(options);
            }
        });
        getSite();
    }
    function getSite() {
        var state = $('select#state option:selected').val();
        var spv = $('select#spv option:selected').val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetSiteList", "SolarReport")' + '?state=' + state + '&spv=' + spv,
            //url: "/SolarReport/GetSiteList?state=" + state + "&spv=" + spv,
            contentType: "application/json; charset=utf-8",
            // data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                options += '<option value="">Select Site</option>';
                for (var k = 0; k < result.length; k++) {
                    options += '<option value="' + result[k].site_master_id + '">' + result[k].site + '</option>';
                }
                $("#site").html(options);
            }
        });
    }
    function GetWTG(siteid) {
        $.ajax({
            type: "GET",
            //url: "/SolarReport/GetWTGList?siteid=" + siteid,
            url: '@Url.Action("GetWTGList", "SolarReport")' + '?siteid=' + siteid,
            contentType: "application/json; charset=utf-8",
            // data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                options += '<option value="">Select WTG</option>';
                for (var k = 0; k < result.length; k++) {
                    options += '<option value="' + result[k].wtg + '">' + result[k].wtg + '</option>';
                }
                $("#wtg").html(options);
            }
        });
    }

    function GetBreakdownReport() {
        var fromDate = "2022-10-18";
        var toDate = "2022-10-20";
        var country = $('select#country option:selected').val();
        var state = $('select#state option:selected').val();
        var spv = $('select#spv option:selected').val();
        var site = $('select#site option:selected').val();
        var wtg = $('select#wtg option:selected').val();
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetSolarBreakdownReport", "SolarReport")' + '?fromDate=' + fromDate + '&toDate=' + toDate + '&country=' + country + '&state=' + state + '&spv=' + spv + '&site=' + site + '&wtg=' + wtg,
            //url: "/SolarReport/GetSolarBreakdownReport?fromDate=" + fromDate + "&toDate=" + toDate + "&country=" + country + "&state=" + state + "&spv=" + spv + "&site=" + site + "&wtg=" + wtg,
            contentType: "application/json; charset=utf-8",
            // data: '{"fromDate":"' + fromDate + '","toDate":"' + toDate + '","country":"' + country + '","state":"' + state + '","spv":"' + spv + '","site":"' + site + '","wtg":"' + wtg+'" }',
            datatype: "JSON",
            success: function (result, status, xhr) {
                //console.log(result);
                var tbl = '<table id="example1" class="table table-bordered table-striped dataTable dtr-inline">';
                tbl += '<thead><tr>';
                tbl += '<th>Date</th>';
                tbl += '<th>Country</th>';
                tbl += '<th>State</th>';
                tbl += '<th>SPV</th>';
                tbl += '<th>Site</th>';
                tbl += '<th>WTG</th>';
                tbl += '<th>BD Type</th>';
                tbl += '<th>Start From</th>';
                tbl += '<th>Stop To</th>';
                tbl += '<th>Total Stop</th>';
                tbl += '<th>Reason of Breakdown</th>';
                tbl += '<th>Action Taken</th>';
                tbl += '</tr></thead>';
                console.log(result.length);
                if (result.length > 0) {
                    console.log("Datatable");
                    for (var i = 0; i < result.length; i++) {
                        console.log(result[i].date);
                        tbl += '<tr>';
                        tbl += '<td>' + result[i].date + '</td>';
                        tbl += '<td>' + result[i].country + '</td>';
                        tbl += '<td>' + result[i].site + '</td>';
                        tbl += '<td>' + result[i].spv + '</td>';
                        tbl += '<td>' + result[i].site + '</td>';
                        tbl += '<td>' + result[i].wtg + '</td>';
                        tbl += '<td>' + result[i].bd_type_name + '</td>';
                        tbl += '<td>' + result[i].stop_from + '</td>';
                        tbl += '<td>' + result[i].stop_to + '</td>';
                        tbl += '<td>' + result[i].total_stop + '</td>';
                        tbl += '<td>' + result[i].error_description + '</td>';
                        tbl += '<td>' + result[i].action_taken + '</td>';
                        tbl += '</tr>';
                    }
                }
                else {
                    console.log("Data not available");
                    tbl += '<tr><th colspan="12" style="text-align:center">Data Not Available <th></tr>';
                }
                tbl += '</table>';
                $("#reports").html(tbl);
            }
        });

    }

</script>
<script>
    $(function () {
        $.noConflict();
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>