@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model DGRA_V1.Models.CountryList
@{
    ViewData["Title"] = "Wind Generation Reports";
}
@{
    ViewData["Title"] = "Wind Daily Load Shedding";
}
@{
    string windSiteList = "";

    var usermodel = JsonConvert.DeserializeObject<UserAccess>(@HttpContextAccessor.HttpContext.Session.GetString("UserAccess"));

}
@for (int i = 0; i < @usermodel.access_list.Count; i++)
{

    if (@usermodel.access_list[i].page_type == 3 && @usermodel.access_list[i].site_type == 1)
    {
        windSiteList += @usermodel.access_list[i].identity.ToString() + ",";
    }


}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/theme/plugins/fontawesome-free/css/all.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/theme/plugins/daterangepicker/daterangepicker.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/multiple-select/dist/multiple-select.min.css" />
<!-- dropdown search -->
<link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>



<link href="~/Content/theme/dist/css/adminlte.css" rel="stylesheet" />
<style>
    .tab-btn {
        font-size: 0.7rem;
        font-weight: bold;
    }
</style>

<div class="content-wrapper">

    <section class="content-header">
    </section>


    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">Wind Generation Reports</h3>

                <!--<div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                </div>-->
            </div>
            <div class="card-body" style="padding: 0.25rem;">
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <div class="card card-primary card-outline card-tabs">
                            <div class="p-0 pt-1 border-bottom-0">
                                <!--<div class="card-header p-0 pt-1 border-bottom-0">-->
                                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="custom-tabs-three-daily-tab" data-toggle="pill" href="#custom-tabs-three-daily" role="tab" aria-controls="custom-tabs-three-daily" aria-selected="true">Daily Gen Report</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-three-monthly-tab" data-toggle="pill" href="#custom-tabs-three-monthly" role="tab" aria-controls="custom-tabs-three-monthly" aria-selected="false">Monthly Gen Report</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-three-yearly-tab" data-toggle="pill" href="#custom-tabs-three-yearly" role="tab" aria-controls="custom-tabs-three-yearly" aria-selected="false">Yearly Gen Report</a>
                                    </li>



                                </ul>

                            </div>

                            <div class="card-body">

                                <div class="tab-content" id="custom-tabs-three-tabContent">
                                    <div class="tab-pane fade show active" id="custom-tabs-three-daily" role="tabpanel" aria-labelledby="custom-tabs-three-daily-tab">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="input-group " style="margin-left: -13%; width: 115%;">
                                                    <label class="col-sm-3 col-form-label text-left" style="padding-left: 10%; ">Date : </label>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="far fa-calendar-alt"></i>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control float-right" id="daterange" name="daterange">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">

                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-3 col-form-label text-right">Country : </label>
                                                        <select class="form-control  col-sm-8" id="country" name="country" value="">

                                                            <option value="india" selected>India</option>


                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label text-right">State : </label>
                                                        <select class="form-control  col-sm-8" id="state" name="state[]" value="" onchange="GetSPV(true);" multiple></select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label text-left">SPV : </label>
                                                        <select class="form-control  col-sm-10" id="spv" name="spv[]" value="" onchange="getSite(true)" multiple></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">

                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-3 col-form-label text-right">Site : </label>
                                                        <select class="form-control  col-sm-8" id="site" name="site[]" value="" onchange="GetWTG(true)" multiple></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">

                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label text-right">WTG : </label>
                                                        <select class="form-control  col-sm-8" id="wtg" name="wtg" multiple></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5 text-left">
                                                <div class="table-responsive pad">
                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                        <label class="btn bg-olive">
                                                            <input type="radio" name="daily" value="WTG" id="daily_b1" autocomplete="off" checked> WTG Wise Report
                                                        </label>
                                                        <label class="btn bg-olive">
                                                            <input type="radio" name="daily" value="Site" id="daily_b2" autocomplete="off"> Site Wise Report
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-2 text-center">
                                                <button type="button" class="btn btn-block btn-primary" onclick="GetDailyGenReport();" style=" width: 5rem;">Search</button>
                                            </div>
                                            <div class="col-sm-5 text-center"></div>
                                        </div>

                                        <hr>
                                        <div id="reportsDaily" style="overflow-x: auto;" class="reportsDaily"></div>
                                        <div id="loaderD" class="loader  center" style="display:none"></div>

                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-three-monthly" role="tabpanel" aria-labelledby="custom-tabs-three-monthly-tab">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label text-left">FY : </label>
                                                        <select class="form-control  col-sm-9" id="fyM" name="fyM" value="">
                                                            <option value="">Select Financial Year</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">

                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-3 col-form-label text-right">Month : </label>
                                                        <select class="form-control  col-sm-9" id="monthM" name="monthM[]" value="" multiple>
                                                            
                                                            <option value="04">April</option>
                                                            <option value="05">May</option>
                                                            <option value="06">June</option>
                                                            <option value="07">July</option>
                                                            <option value="08">August</option>
                                                            <option value="09">September</option>
                                                            <option value="10">October</option>
                                                            <option value="11">November</option>
                                                            <option value="12">December</option>
                                                            <option value="01">January</option>
                                                            <option value="02">February</option>
                                                            <option value="03">March</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-3 col-form-label text-right">Country : </label>
                                                        <select class="form-control  col-sm-9" id="countryM" name="countryM" value="">
                                                            <option value="india" selected>India</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label text-left">State : </label>
                                                        <select class="form-control  col-sm-9" id="stateM" name="stateM" value="" onchange="GetSPVM(true);" multiple></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">

                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-3 col-form-label text-right">SPV : </label>
                                                        <select class="form-control  col-sm-9" id="spvM" name="spvM[]" value="" onchange="getSiteM(true)" multiple></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">

                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-3 col-form-label text-right">Site : </label>
                                                        <select class="form-control  col-sm-9" id="siteM" name="siteM[]" value="" onchange="GetWTGM(true)" multiple></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label text-left">WTG : </label>
                                                        <select class="form-control  col-sm-9" id="wtgM" name="wtgM" multiple></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-block btn-primary" onclick="GetMonthlyGenReport();" style=" width: 5rem;">Search</button>
                                            </div>
                                            <div class="col-sm-5"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="table-responsive pad">
                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                        <label class="btn bg-olive">
                                                            <input type="radio" name="monthly" value="WTG" id="monthly_b1" autocomplete="off" checked> WTG Wise Report
                                                        </label>
                                                        <label class="btn bg-olive">
                                                            <input type="radio" name="monthly" value="Site" id="monthly_b2" autocomplete="off"> Site Wise Report
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-7"></div>
                                        </div>

                                        <hr>
                                        <div id="reportsMonthly" style="overflow-x: auto;" class="reportsMonthly"></div>
                                        <div id="loaderM" class="loader  center" style="display:none"></div>
                                    </div>
                                    <div class="tab-pane fade" id="custom-tabs-three-yearly" role="tabpanel" aria-labelledby="custom-tabs-three-yearly-tab">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label text-left">FY : </label>
                                                        <select class="form-control  col-sm-9" id="fyY" name="fyY" value="">
                                                            <option value="">Select Financial Year</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-3 col-form-label text-right">Country : </label>
                                                        <select class="form-control  col-sm-9" id="countryY" name="countryY" value="">
                                                            <option value="india" selected>India</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label text-right">State : </label>
                                                        <select class="form-control  col-sm-9" id="stateY" name="stateY[]" value="" onchange="GetSPVY(true);" multiple></select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">

                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label text-left">SPV : </label>
                                                        <select class="form-control  col-sm-9" id="spvY" name="spvY[]" value="" onchange="getSiteY(true)" multiple></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-3 col-form-label text-right">Site : </label>
                                                        <select class="form-control  col-sm-9" id="siteY" name="siteY[]" value="" onchange="GetWTGY(true)" multiple></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-sm-2 col-form-label text-right">WTG : </label>
                                                        <select class="form-control  col-sm-9" id="wtgY" name="wtgY" multiple></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-5 text-left">
                                                <div class="table-responsive pad">
                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                        <label class="btn bg-olive">
                                                            <input type="radio" name="yearly" value="WTG" id="yearly_b1" autocomplete="off" checked> WTG Wise Report
                                                        </label>
                                                        <label class="btn bg-olive">
                                                            <input type="radio" name="yearly" value="Site" id="yearly_b2" autocomplete="off"> Site Wise Report
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 text-center">
                                                <button type="button" class="btn btn-block btn-primary" onclick="GetYearlyGenReport();" style=" width: 5rem;">Search</button>
                                            </div>
                                            <div class="col-sm-5 text-center"></div>
                                        </div>

                                        <hr>
                                        <div id="reportsYearly" style="overflow-x: auto;" class="reportsYearly"></div>
                                        <div id="loaderY" class="loader  center" style="display:none"></div>
                                    </div>

                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>

                    <!-- <div id="reportsDaily" style="overflow-x: auto;" class="reportsDaily"></div>
                                        <div id="reportsMonthly" style="overflow-x: auto;" class="reportsMonthly"></div>
                                        <div id="reportsYearly" style="overflow-x: auto; " class="reportsYearly"></div>
                    -->

                </div>

                <!--<div class="card-footer">
                    Footer
                </div>-->

            </div>


    </section>

</div>
<script src="~/Content/theme/plugins/jquery/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script src="~/Content/theme/plugins/multiple-select/dist/multiple-select.min.js" defer></script>
<!--Date Range -->
<script src="~/Content/theme/plugins/moment/moment.min.js"></script>
<script src="~/Content/theme/plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="~/Content/theme/plugins/daterangepicker/daterangepicker.js" defer></script>
<script src="~/Content/theme/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="~/Content/theme/plugins/multiple-select/dist/multiple-select.min.js" defer></script>

<script src="~/Content/theme/plugins/summernote/summernote-bs4.min.js"></script>
<script src="~/Content/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>


<script src="~/Content/theme/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.js" defer></script>

<script src="~/Content/theme/plugins/datatables-buttons/js/dataTables.buttons.min.js" defer></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.html5.min.js" defer></script>
<script src="~/Content/theme/plugins/pdfmake/pdfmake.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js" defer></script>
<script type="text/javascript">
    var userRole = "@Html.Raw(@HttpContextAccessor.HttpContext.Session.GetString("role"))";
    var windUserAccess ="@Html.Raw(windSiteList.TrimEnd(','))";
    $(document).ready(function () {
        $('#daterange').daterangepicker(
            {
                maxDate: new Date(),
                locale: {
                    format: 'DD/MM/YYYY',
                }
            });
    });
    window.onload = function () {
        $('select#monthM').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select Month(s)",
                    filter:true
        });
        $('select#country').multipleSelect({
            "placeholder": "Select country",
            filter: true
        });
        $('select#countryY').multipleSelect({
            "placeholder": "Select country",
            filter: true
        });
        $('select#countryM').multipleSelect({
            "placeholder": "Select country",
            filter: true
        });
        var selcountry = $('select#country option:selected').val();
        var site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetStateList", "WindReport")' + '?countryname=' + selcountry + '&sitelist=' + site_ids,
            contentType: "application/json; charset=utf-8",
            //data: '{"countryname":"' + selcountry + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                for (var i = 0; i < result.length; i++) {
                    options += '<option value="' + result[i].state + '">' + result[i].state + '</option>';
                }


                $("#state").html(options);
                $("#stateM").html(options);
                $("#stateY").html(options);
                $('select#state').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select State(s)",
                    filter:true
                });
                $('select#stateM').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select State(s)",
                    filter:true
                });
                $('select#stateY').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select State(s)",
                    filter:true
                });
            }
        });
        getYear();
        GetSPV(false);
        GetSPVM(false);
        GetSPVY(false);
    }
    function getYear() {
    $.ajax({
        type: "GET",
        url: "/WindReport/GetFinacialYear",
        url: '@Url.Action("GetFinacialYear", "WindReport")',
        contentType: "application/json; charset=utf-8",
        datatype: "html",
        success: function (result, status, xhr) {
            var options = "";
            options += '<option value="">Select Financial Year</option>';
            for (var i = 0; i < result.length; i++) {
                options += '<option value="' + result[i].financial_year + '">' + result[i].financial_year + '</option>';
            }
            $("#fyM").html(options);
            $("#fyY").html(options);
            $('select#fyM').multipleSelect({
                "placeholder": "Select month",
                filter: true
            });
            $('select#fyY').multipleSelect({
                "placeholder": "Select year",
                filter: true
            });
        }
    });
    }

    function GetSPVY(fliterVal) {
        let state_id = "";

        let site_ids = "";
         if (fliterVal == false) {
            site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
        }
        if($('#stateY').val())
        {
            $('select#stateY option:selected').each(function () {
                state_id += "'"+$(this).val() + "',";
            });
            state_id = state_id != "" ? state_id.slice(0, -1) : state_id;
        }
        if (state_id != "") {
             site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
        }
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetSPVList", "WindReport")' + '?state=' + state_id + '&sitelist=' + site_ids,
            contentType: "application/json; charset=utf-8",
            datatype: "html",
            success: function (result, status, xhr) {

                var options = "";
                for (var j = 0; j < result.length; j++) {
                    options += '<option value="' + result[j].spv + '">' + result[j].spv + '</option>';
                }
                $("#spvY").multipleSelect('destroy');

                $("#spvY").html(options);
                $('select#spvY').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select SPV(s)",
                    filter:true
                });
            }
        });
        getSiteY(false);
    }
    function GetSPVM(fliterVal) {
        let state_id = "";
        let site_ids = "";
         if (fliterVal == false) {
             site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
        }
        if($('#stateM').val())
        {
            $('select#stateM option:selected').each(function () {
                state_id += "'" + $(this).val() + "',";
            });
            state_id = state_id != "" ? state_id.slice(0, -1) : state_id;
        }
        if (state_id != "") {
             site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
        }
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetSPVList", "WindReport")' + '?state=' + state_id + '&sitelist=' + site_ids,
            contentType: "application/json; charset=utf-8",
            datatype: "html",
            success: function (result, status, xhr) {

                var options = "";
                for (var j = 0; j < result.length; j++) {
                    options += '<option value="' + result[j].spv + '">' + result[j].spv + '</option>';
                }
                $("#spvM").multipleSelect('destroy');

                $("#spvM").html(options);
                $('select#spvM').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select SPV(s)",
                    filter:true
                });
            }
        });
        getSiteM(false);
    }
    function GetSPV(fliterVal) {
        let state_id = "";
        let site_ids = "";

        if (fliterVal == false) {
            site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
        }
        if($('#state').val())
        {
            $('select#state option:selected').each(function () {
                state_id += "'"+$(this).val() + "',";
            });
            state_id = state_id != "" ? state_id.slice(0, -1) : state_id;
        }
        if (state_id != "") {
             site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
        }
        $.ajax({
            type: "GET",
            ///url: "/WindReport/GetSPVList?state=" + val,
            url: '@Url.Action("GetSPVList", "WindReport")' + '?state=' + state_id + '&sitelist=' + site_ids,
            contentType: "application/json; charset=utf-8",
            datatype: "html",
            success: function (result, status, xhr) {

                var options = "";
                for (var j = 0; j < result.length; j++) {
                    options += '<option value="' + result[j].spv + '">' + result[j].spv + '</option>';
                }
                $("#spv").multipleSelect('destroy');
                $("#spv").html(options);
                $('select#spv').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select SPV(s)",
                    filter:true
                });

            }
        });
        getSite(false);
    }
    function getSite(fliterVal) {
        var site_ids = "";
        if (fliterVal == false) {
            site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
        }
        let state_id = "";
        $('select#state option:selected').each(function () {
            state_id += $(this).val() + ",";
        });
        state_id = state_id != "" ? state_id.slice(0, -1) : state_id;

        let spv = "";
        $('select#spv option:selected').each(function () {
            spv += $(this).val() + ",";
        });
        spv = spv != "" ? spv.slice(0, -1) : spv;
        if (state_id != "" || spv != "") {
             site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetSiteList", "WindReport")' + '?state=' + state_id + '&spv=' + spv + '&sitelist=' + site_ids,
            contentType: "application/json; charset=utf-8",
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                for (var k = 0; k < result.length; k++) {
                    options += '<option value="' + result[k].site_master_id + '">' + result[k].site + '</option>';
                }
                $("#site").multipleSelect('destroy');
                $("#site").html("").html(options);

                $('select#site').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select Site(s)",
                    filter:true
                });
            }
        });
         GetWTG(false);
    }
    function getSiteM(fliterVal) {
        let state_id = "";
        var site_ids = "";
        if (fliterVal == false) {
            site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
        }
         $('select#stateM option:selected').each(function () {
            state_id += $(this).val() + ",";
            console.log($(this).val());
        });
        state_id = state_id != "" ? state_id.slice(0, -1) : state_id;

        let spv = "";

        $('select#spvM option:selected').each(function () {
            spv += $(this).val() + ",";
        });
        spv = spv != "" ? spv.slice(0, -1) : spv;
        if (state_id != "" || spv != "") {
             site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetSiteList", "WindReport")' + '?state=' + state_id + '&spv=' + spv+ '&sitelist=' + site_ids,
            contentType: "application/json; charset=utf-8",
            // data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                for (var k = 0; k < result.length; k++) {
                    options += '<option value="' + result[k].site_master_id + '">' + result[k].site + '</option>';
                }
                $("#siteM").multipleSelect('destroy');
                $("#siteM").html("").html(options);
                $('select#siteM').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select Site(s)",
                    filter:true
                });
            }
        });
         GetWTGM(false);
    }
    function getSiteY(fliterVal) {
        let state_id = "";
        var site_ids = "";
        if (fliterVal == false) {
            site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
        }
        $('select#stateY option:selected').each(function () {
            state_id += $(this).val() + ",";
        });
        state_id = state_id != "" ? state_id.slice(0, -1) : state_id;

        let spv = "";
        $('select#spvY option:selected').each(function () {
            spv += $(this).val() + ",";
        });
        spv = spv != "" ? spv.slice(0, -1) : spv;

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetSiteList", "WindReport")' + '?state=' + state_id + '&spv=' + spv + '&sitelist=' + site_ids,
            contentType: "application/json; charset=utf-8",
            // data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                for (var k = 0; k < result.length; k++) {
                    options += '<option value="' + result[k].site_master_id + '">' + result[k].site + '</option>';
                }
                $("#siteY").multipleSelect('destroy');
                $("#siteY").html("").html(options);
                $('select#siteY').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select Site(s)",
                    filter:true
                });
            }
        });
        GetWTGY(false);
    }
    function GetWTG(fliterVal) {
        let siteid = "";
        //$('select#site option:selected').each(function () {
        //    siteid += $(this).val() + ",";
        //});
        //siteid = siteid != "" ? siteid.slice(0, -1) : siteid;

         if (fliterVal == false) {
             siteid = "@Html.Raw(windSiteList.TrimEnd(','))";
            }
            else {
             $('select#site option:selected').each(function () {
                 siteid += $(this).val() + ",";
                 });
                siteid = siteid != "" ? siteid.slice(0, -1) : siteid;
            }
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetWTGList", "WindReport")' + '?siteid=' + siteid,
            contentType: "application/json; charset=utf-8",
            // data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                for (var k = 0; k < result.length; k++) {
                    options += '<option value="' + result[k].wtg + '">' + result[k].wtg + '</option>';
                }
                $("#wtg").multipleSelect('destroy');
                $("#wtg").html("").html(options);
                $('select#wtg').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select Site(s)",
                    filter:true
                });

            }
        });
    }
    function GetWTGM(fliterVal) {
        let siteid = "";
        //$('select#siteM option:selected').each(function () {
        //    siteid += $(this).val() + ",";

        //});
        //siteid = siteid != "" ? siteid.slice(0, -1) : siteid;

         if (fliterVal == false) {
             siteid = "@Html.Raw(windSiteList.TrimEnd(','))";
            }
            else {
             $('select#siteM option:selected').each(function () {
                 siteid += $(this).val() + ",";
                 });
                siteid = siteid != "" ? siteid.slice(0, -1) : siteid;
            }
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetWTGList", "WindReport")' + '?siteid=' + siteid,
            contentType: "application/json; charset=utf-8",
            // data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                for (var k = 0; k < result.length; k++) {
                    options += '<option value="' + result[k].wtg + '">' + result[k].wtg + '</option>';
                }
                $("#wtgM").multipleSelect('destroy');
                $("#wtgM").html("").html(options);
                $('select#wtgM').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select Site(s)",
                    filter:true
                });
            }
        });
    }
    function GetWTGY(fliterVal) {
        var siteid = "";
         if (fliterVal == false) {
             siteid = "@Html.Raw(windSiteList.TrimEnd(','))";
            }
            else {
                $('select#siteY option:selected').each(function () {
                    siteid += $(this).val() + ",";
                 });
                siteid = siteid != "" ? siteid.slice(0, -1) : siteid;
            }
       // $('select#siteY option:selected').each(function () {
         //   siteid += $(this).val() + ",";
        //});


        $.ajax({
            type: "GET",
            url: '@Url.Action("GetWTGList", "WindReport")' + '?siteid=' + siteid,
            contentType: "application/json; charset=utf-8",
            // data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                for (var k = 0; k < result.length; k++) {
                    options += '<option value="' + result[k].wtg + '">' + result[k].wtg + '</option>';
                }
                $("#wtgY").multipleSelect('destroy');
                $("#wtgY").html("").html(options);
                $('select#wtgY').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select Site(s)",
                    filter:true
                });
            }
        });
    }


    function GetDailyGenReport() {

        var ReportType = $("input[name='daily']:checked").val();
        if (ReportType == "WTG") {
            GetDailyGenReportWTGWise();
        }
        else {
            GetDailyGenReportSiteWise();
        }
    }
    // Daily Gen Report WTG WIse
    function GetDailyGenReportWTGWise() {
        var daterange = $('#daterange').val();
        var arr1 = new Array();
        arr1 = daterange.split("-");
        var fromDate = moment(arr1[0], 'DD/MM/YYYY').format('YYYY-MM-DD');
        var toDate = moment(arr1[1], 'DD/MM/YYYY').format('YYYY-MM-DD');
        var country = $('select#country option:selected').val();
        //var state = $('select#state option:selected').val();

        let site= "";
        let spv = "";
        let wtg = "";
        let state = "";
        $('select#site option:selected').each(function () {
            site += $(this).val() + ",";
        });
        site = site != "" ? site.slice(0, -1) : site;
       

        if(!site){
            let state = "";
            $('select#state option:selected').each(function () {
                state +=  $(this).val() + ",";
            });
            state = state != "" ? state.slice(0, -1) : state;

            $('select#spv option:selected').each(function () {
                spv += $(this).val() + ",";
            });
            spv = spv != "" ? spv.slice(0, -1) : spv;
        }

        $('select#wtg option:selected').each(function () {
            wtg +=  $(this).val() + ",";
        });
        wtg = wtg != "" ? wtg.slice(0, -1) : wtg;


        if (userRole == "User" && site == "") {
            site = windUserAccess;
        }

        var reportType = "WTG";
        var reporthead = "WTG Wise Report";
        document.getElementById("loaderD").style.display = 'flex';
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetWindDailyGenerationReportWTGWise", "WindReport")' + '?fromDate=' + fromDate + '&toDate=' + toDate + '&country=' + country + '&state=' + state + '&spv=' + spv + '&site=' + site + '&wtg=' + wtg,
            contentType: "application/json; charset=utf-8",
            datatype: "JSON",
            success: function (result, status, xhr) {

                //var tbl = '<div class="text-center"><h5></h5></div>';
                var tbl = '<table id="example1"  class="table table-bordered table-striped" style="width: 150%;">';
                tbl += '<thead class="tbl-head"><tr>';
                tbl += '<th >Date</th>';
                tbl += '<th>Country</th>';
                tbl += '<th>State</th>';
                tbl += '<th>SPV</th>';
                tbl += '<th>Site</th>';
                tbl += '<th>WTG</th>';
                tbl += '<th>Wind (m/s)</th>';
                tbl += '<th>kWh</th>';
                tbl += '<th>PLF (%)</th>';
                tbl += '<th>MA ACT (%)</th>';
                tbl += '<th>MA CON (%)</th>';
                tbl += '<th>IGA (%)</th>';
                tbl += '<th>EGA (%)</th>';
                tbl += '<th>Gen_Hrs</th>';
                tbl += '<th>Lull_Hrs</th>';
                tbl += '<th>USMH</th>';
                tbl += '<th>SMH</th>';
                tbl += '<th>Others</th>';
                tbl += '<th>IGBDH</th>';
                tbl += '<th>EGBDH</th>';
                tbl += '<th>Load Shedding</th>';
                tbl += '</tr></thead>';

                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        var formattedDate = moment(result[i].date, 'YYYY/MM/DD').format('DD-MM-YYYY');
                        tbl += '<tr>';
                        tbl += '<td class="text-left">' + formattedDate + '</td>';
                        tbl += '<td class="text-left">' + result[i].country + '</td>';
                        tbl += '<td class="text-left">' + result[i].state + '</td>';
                        tbl += '<td class="text-left">' + result[i].spv + '</td>';
                        tbl += '<td class="text-left">' + result[i].site + '</td>';
                        tbl += '<td class="text-left">' + result[i].wtg + '</td>';
                        tbl += '<td class="text-right">' + result[i].wind_speed.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].kwh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].plf.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ma_actual.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ma_contractual.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].iga.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ega.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].production_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].lull_hrs.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].unschedule_num.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].schedule_num.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].others_num.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].igbdh_num.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].egbdh_num.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].load_shedding_num.toFixed(2) + '</td>';
                        tbl += '</tr>';
                    }
                }
                else {
                    console.log("Data not available");

                }
                tbl += '</table>';
                $("#reportsDaily").html(tbl);
                $.fn.DataTable.ext.pager.numbers_length = 6;
                $('#example1').DataTable({
                    dom: 'Bfrtip',
                    title: '',
                    responsive: false,
                    lengthChange: false,
                    autoWidth: true,
                    paging: true,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: true,
                    pageLength: 50,

                    buttons: [
                        {
                            extend: 'excel',
                            title: 'WTG Wise Daily Generation Report',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csv',
                            title: 'WTG Wise Daily Generation Report',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        'colvis'
                    ]
                    /* "buttons": [
                         'copy', 'excel', 'csv', 'colvis'
                     ]*/
                });


                $(".dt-buttons").addClass('btn-group flex-wrap');
                $(".dt-buttons > button").addClass('btn btn-secondary');
                $(".dataTables_filter> label >input").addClass('form-control form-control-sm');
                //$('#example1').removeClass('dataTable');
                $('#example1').wrap("<div class='scrolledTable'></div>");
                document.getElementById("loaderD").style.display = 'none';

            }
        });

    }
   // -----------------------------------------------

    // Daily Gen Report Site WIse
    function GetDailyGenReportSiteWise() {
        var daterange = $('#daterange').val();
        var arr1 = new Array();
        arr1 = daterange.split("-");
        var fromDate = moment(arr1[0], 'DD/MM/YYYY').format('YYYY-MM-DD');
        var toDate = moment(arr1[1], 'DD/MM/YYYY').format('YYYY-MM-DD');
        var country = $('select#country option:selected').val();
        let state = "";
        $('select#state option:selected').each(function () {
            state += $(this).val() + ",";
        });
        state = state != "" ? state.slice(0, -1) : state;
        let spv = "";
        $('select#spv option:selected').each(function () {
            spv += $(this).val() + ",";
        });
        spv = spv != "" ? spv.slice(0, -1) : spv;
        let site = "";
        $('select#site option:selected').each(function () {
            site +=  $(this).val() + ",";
        });
        site = site != "" ? site.slice(0, -1) : site;


        let wtg = "";
        $('select#wtg option:selected').each(function () {
            wtg += $(this).val() + ",";
        });
        wtg = wtg != "" ? wtg.slice(0, -1) : wtg;

        if (userRole == "User" && site == "") {
            site = windUserAccess;
        }

        var reportType = "WTG";
        var reporthead = "Site Wise Report";
        document.getElementById("loaderD").style.display = 'flex';
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetWindDailyGenerationReportSiteWise", "WindReport")' + '?fromDate=' + fromDate + '&toDate=' + toDate + '&country=' + country + '&state=' + state + '&spv=' + spv + '&site=' + site + '&wtg=' + wtg + '&reportType=' + reportType,
            contentType: "application/json; charset=utf-8",
            datatype: "JSON",
            success: function (result, status, xhr) {
                //var tbl = '<div class="text-center"><h5></h5></div>';
                var tbl = '<table id="example1"  class="table table-bordered table-striped" style="width: 150%;">';
                tbl += '<thead class="tbl-head"><tr>';
                tbl += '<th >Date</th>';
                tbl += '<th>Country</th>';
                tbl += '<th>State</th>';
                tbl += '<th>SPV</th>';
                tbl += '<th>Site</th>';
                tbl += '<th>Capacity (MW)</th>';
                tbl += '<th>Wind (m/s)</th>';
                tbl += '<th>kWh</th>';
                tbl += '<th>PLF (%)</th>';
                tbl += '<th>MA ACT (%)</th>';
                tbl += '<th>MA CON (%)</th>';
                tbl += '<th>IGA (%)</th>';
                tbl += '<th>EGA (%)</th>';
                tbl += '<th>Gen_Hrs</th>';
                tbl += '<th>Lull_Hrs</th>';
                tbl += '<th>USMH</th>';
                tbl += '<th>SMH</th>';
                tbl += '<th>Others</th>';
                tbl += '<th>IGBDH</th>';
                tbl += '<th>EGBDH</th>';
                tbl += '<th>Load Shedding</th>';
                tbl += '</tr></thead>';

                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        var formattedDate = moment(result[i].date, 'YYYY/MM/DD').format('DD-MM-YYYY');
                        tbl += '<tr>';
                        tbl += '<td class="text-left">' + formattedDate + '</td>';
                        tbl += '<td class="text-left">' + result[i].country + '</td>';
                        tbl += '<td class="text-left">' + result[i].state + '</td>';
                        tbl += '<td class="text-left">' + result[i].spv + '</td>';
                        tbl += '<td class="text-left">' + result[i].site + '</td>';
                        tbl += '<td class="text-right">' + result[i].total_mw.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].wind_speed.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].kwh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].plf.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ma_actual.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ma_contractual.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].iga.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ega.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].grid_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].lull_hrs.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].unschedule_num.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].schedule_num.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].others_num.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].igbdh_num.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].egbdh_num.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].load_shedding_num.toFixed(2) + '</td>';

                        tbl += '</tr>';
                    }
                }
                else {
                    console.log("Data not available");

                }
                tbl += '</table>';
                $("#reportsDaily").html(tbl);
                $.fn.DataTable.ext.pager.numbers_length = 6;
               $('#example1').DataTable({
                    dom: 'Bfrtip',
                    title: 'ImportApproval',
                    responsive: false,
                    lengthChange: false,
                    autoWidth: true,
                    paging: true,
                    searching: true,
                    ordering: true,
                    info: true,
                   autoWidth: true,
                   pageLength: 50,
                    buttons: [
                        {
                            extend: 'excel',
                            title: 'Site Wise Daily Generation Report',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csv',
                            title: 'Site Wise Daily Generation Report',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        'colvis'
                    ]
                    /* "buttons": [
                         'copy', 'excel', 'csv', 'colvis'
                     ]*/
                });
                $(".dt-buttons").addClass('btn-group flex-wrap');
                $(".dt-buttons > button").addClass('btn btn-secondary');
                $(".dataTables_filter> label >input").addClass('form-control form-control-sm');
                $("dataTables_filter").css("margin-top", "-35px");
                //$('#example1').removeClass('dataTable');
                $('#example1').wrap("<div class='scrolledTable'></div>");
                document.getElementById("loaderD").style.display = 'none';

            }
        });
    }


   // -----------------------------------Monthly ---------------------//
    function GetMonthlyGenReport() {

       var ReportType = $("input[name='monthly']:checked").val();
        if (ReportType == "WTG") {
          GetMonthlyGenReportWTGWise();
        }
        else {
           GetMonthlyGenReportSiteWise();
        }
    }

    // Mothly Report WTG Wise
    function GetMonthlyGenReportWTGWise() {

        let site= "";
        let spv = "";
        let wtg = "";
        let state = "";

        $('select#siteM option:selected').each(function () {
            site += $(this).val() + ",";
        });
        site = site != "" ? site.slice(0, -1) : site;

        if(!site){
            let state = "";
            $('select#stateM option:selected').each(function () {
                state +=  $(this).val() + ",";
            });
            state = state != "" ? state.slice(0, -1) : state;

            $('select#spvM option:selected').each(function () {
                spv += $(this).val() + ",";
            });
            spv = spv != "" ? spv.slice(0, -1) : spv;

        }

        $('select#wtgM option:selected').each(function () {
            wtg +=  $(this).val() + ",";
        });
        wtg = wtg != "" ? wtg.slice(0, -1) : wtg;

        var country = $('select#countryM option:selected').val();
        var year = $('select#fyM option:selected').val();
        if (year == "") {
            alert("Please select financial year");
            return false;
        }
        let month = "";
        $('select#monthM option:selected').each(function () {

            month+= $(this).val()+",";
        });
        month = month != "" ? month.slice(0, -1) : month;
        if (userRole == "User" && site == "") {
            site = windUserAccess;
        }

        var arr1 = new Array();
        arr1 = year.split("-");
        var fromDate = "";

        var reportType = "WTG";
        var reporthead = "WTG Wise Report";
        document.getElementById("loaderM").style.display = 'flex';
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetWindMonthlyGenerationReportWTGWise", "WindReport")' + '?fy=' + arr1[0] + '&month=' + month + '&country=' + country + '&state=' + state + '&spv=' + spv + '&site=' + site + '&wtg=' + wtg + '&reportType=' + reportType,
            contentType: "application/json; charset=utf-8",
            datatype: "JSON",
            success: function (result, status, xhr) {

                //var tbl = '<div class="text-center"><h5></h5></div>';
                var tbl = '<table id="example2"  class="table table-bordered table-striped" style="width: 150%;">';
                tbl += '<thead class="tbl-head"><tr>';
                tbl += '<th>FY</th>';
                tbl += '<th>Month</th>';
                tbl += '<th>Country</th>';
                tbl += '<th>State</th>';
                tbl += '<th>SPV</th>';
                tbl += '<th>Site</th>';
                tbl += '<th>WTG</th>';
                tbl += '<th>Wind (m/s)</th>';
                tbl += '<th>kWh</th>';
                tbl += '<th>PLF (%)</th>';
                tbl += '<th>MA ACT (%)</th>';
                tbl += '<th>MA CON (%)</th>';
                tbl += '<th>IGA (%)</th>';
                tbl += '<th>EGA (%)</th>';
                tbl += '<th>Gen_Hrs</th>';
                tbl += '<th>Lull_Hrs</th>';
                tbl += '<th>USMH</th>';
                tbl += '<th>SMH</th>';
                tbl += '<th>Others</th>';
                tbl += '<th>IGBDH</th>';
                tbl += '<th>EGBDH</th>';
                tbl += '<th>Load Shedding</th>';
                tbl += '</tr></thead>';

                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        //var formattedDate = moment(result[i].date, 'YYYY/MM/DD').format('DD-MM-YYYY');
                        tbl += '<tr>';
                        tbl += '<td class="text-left">' + year + '</td>';
                        tbl += '<td class="text-left">' + result[i].month + '</td>';
                        tbl += '<td class="text-left">' + result[i].country + '</td>';
                        tbl += '<td class="text-left">' + result[i].state + '</td>';
                        tbl += '<td class="text-left">' + result[i].spv + '</td>';
                        tbl += '<td class="text-left">' + result[i].site + '</td>';
                        tbl += '<td class="text-left">' + result[i].wtg + '</td>';
                        tbl += '<td class="text-right">' + result[i].wind_speed.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].kwh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].plf.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ma_actual.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ma_contractual.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].iga.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ega.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].grid_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].lull_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].unschedule_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].schedule_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].others.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].igbdh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].egbdh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].load_shedding.toFixed(2) + '</td>';
                        tbl += '</tr>';
                    }
                }
                else {
                    console.log("Data not available");
                    // tbl += '<tr><th colspan="12" style="text-align:center">Data Not Available <th></tr>';
                }
               tbl += '</table>';
                $("#reportsMonthly").html(tbl);
                $.fn.DataTable.ext.pager.numbers_length = 6;
                $('#example2').DataTable({
                    dom: 'Bfrtip',
                    title: 'ImportApproval',
                    responsive: false,
                    lengthChange: false,
                    autoWidth: true,
                    paging: true,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: true,
                    pageLength: 50,
                    buttons: [
                        {
                            extend: 'excel',
                            title: 'WTG Wise Monthly Generation Report',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csv',
                            title: 'WTG Wise Monthly Generation Report',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        'colvis'
                    ]
                    /* "buttons": [
                         'copy', 'excel', 'csv', 'colvis'
                     ]*/
                });
                $(".dt-buttons").addClass('btn-group flex-wrap');
                $(".dt-buttons > button").addClass('btn btn-secondary');
                $(".dataTables_filter> label >input").addClass('form-control form-control-sm');
                //$('#example2').removeClass('dataTable');
                $('#example2').wrap("<div class='scrolledTable'></div>");
                document.getElementById("loaderM").style.display = 'none';
            }
        });

    }
    //------------------------------------
    // Mothly Report SIte Wise
    function GetMonthlyGenReportSiteWise() {
         let site= "";
        let spv = "";
        let wtg = "";
        let state = "";

        $('select#siteM option:selected').each(function () {
            site += $(this).val() + ",";
        });
        site = site != "" ? site.slice(0, -1) : site;

        if(!site){
            let state = "";
            $('select#stateM option:selected').each(function () {
                state +=  $(this).val() + ",";
             });
            state = state != "" ? state.slice(0, -1) : state;

            $('select#spvM option:selected').each(function () {
                spv += $(this).val() + ",";
            });
            spv = spv != "" ? spv.slice(0, -1) : spv;
        }

        $('select#wtgM option:selected').each(function () {
            wtg +=  $(this).val() + ",";
          });
        wtg = wtg != "" ? wtg.slice(0, -1) : wtg;

        var country = $('select#countryM option:selected').val();
        var fyyear = $('select#fyM option:selected').val();
        if (fyyear == "") {
            alert("Please select financial year");
            return false;
        }
        let month = "";
        $('select#monthM option:selected').each(function () {

            month+= $(this).val()+",";
        });
        month = month != "" ? month.slice(0, -1) : month;
        if (userRole == "User" && site == "") {
            site = windUserAccess;
        }

        var arr1 = new Array();
        arr1 = fyyear.split("-");
        var fromDate = "";
        var reportType = "WTG";
        var reporthead = "WTG Wise Report";
        document.getElementById("loaderM").style.display = 'flex';
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetWindMonthlyGenerationReportSiteWise", "WindReport")' + '?fy=' + arr1[0] + '&month=' + month + '&country=' + country + '&state=' + state + '&spv=' + spv + '&site=' + site + '&wtg=' + wtg + '&reportType=' + reportType,
            contentType: "application/json; charset=utf-8",
            datatype: "JSON",
            success: function (result, status, xhr) {

                //var tbl = '<div class="text-center"><h5></h5></div>';
                var tbl = '<table id="example2"  class="table table-bordered table-striped" style="width: 150%;">';
                tbl += '<thead class="tbl-head"><tr>';
                tbl += '<th>FY</th>';
                tbl += '<th>Month</th>';
                tbl += '<th>Country</th>';
                tbl += '<th>State</th>';
                tbl += '<th>SPV</th>';
                tbl += '<th>Site</th>';
                tbl += '<th>Capacity (MW)</th>';
                tbl += '<th>Wind (m/s)</th>';
                tbl += '<th>kWh</th>';
                tbl += '<th>PLF (%)</th>';
                tbl += '<th>MA ACT (%)</th>';
                tbl += '<th>MA CON (%)</th>';
                tbl += '<th>IGA (%)</th>';
                tbl += '<th>EGA (%)</th>';
                tbl += '<th>Gen_Hrs</th>';
                tbl += '<th>Lull_Hrs</th>';
                tbl += '<th>USMH</th>';
                tbl += '<th>SMH</th>';
                tbl += '<th>Others</th>';
                tbl += '<th>IGBDH</th>';
                tbl += '<th>EGBDH</th>';
                tbl += '<th>Load Shedding</th>';
                tbl += '</tr></thead>';
                if (result.length > 0) {
                   for (var i = 0; i < result.length; i++) {
                        //var formattedDate = moment(result[i].date, 'YYYY/MM/DD').format('DD-MM-YYYY');
                        tbl += '<tr>';
                        tbl += '<td class="text-left">' + fyyear + '</td>';
                        tbl += '<td class="text-left">' + result[i].month + '</td>';
                        tbl += '<td class="text-left">' + result[i].country + '</td>';
                        tbl += '<td class="text-left">' + result[i].state + '</td>';
                        tbl += '<td class="text-left">' + result[i].spv + '</td>';
                        tbl += '<td class="text-left">' + result[i].site + '</td>';
                        tbl += '<td class="text-right">' + result[i].total_mw.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].wind_speed.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].kwh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].plf.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ma_actual.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ma_contractual.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].iga.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ega.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].grid_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].lull_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].unschedule_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].schedule_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].others.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].igbdh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].egbdh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].load_shedding.toFixed(2) + '</td>';
                        tbl += '</tr>';
                    }
                }
                else {
                    console.log("Data not available");

                }
                tbl += '</table>';
                $("#reportsMonthly").html(tbl);
                $.fn.DataTable.ext.pager.numbers_length = 6;
                $('#example2').DataTable({
                    dom: 'Bfrtip',
                    title: 'ImportApproval',
                    responsive: false,
                    lengthChange: false,
                    autoWidth: true,
                    paging: true,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: true,
                    pageLength: 50,
                    buttons: [
                        {
                            extend: 'excel',
                            title: 'Site Wise Monthly Generation Report',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csv',
                           title: 'Site Wise Monthly Generation Report',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        'colvis'
                    ]
                    /* "buttons": [
                         'copy', 'excel', 'csv', 'colvis'
                     ]*/
                });
                $(".dt-buttons").addClass('btn-group flex-wrap');
                $(".dt-buttons > button").addClass('btn btn-secondary');
                $(".dataTables_filter> label >input").addClass('form-control form-control-sm');
                //$('#example2').removeClass('dataTable');
                $('#example2').wrap("<div class='scrolledTable'></div>");
                document.getElementById("loaderM").style.display = 'none';
            }
        });

    }

    // -----------------------------------Yearly ---------------------//
    function GetYearlyGenReport() {

        var ReportType = $("input[name='yearly']:checked").val();
        if (ReportType == "WTG") {
            GetYearlyGenReportWTGWise();
        }
        else {
            GetYearlyGenReportSiteWise();
        }
        document.getElementById("loaderY").style.display = 'none';
    }

    // Yearly WTG Wise
    function GetYearlyGenReportWTGWise() {
        var country = $('select#countryY option:selected').val();
        let site = "";
        let spv = "";
        let wtg = "";
        let state = "";

        $('select#siteY option:selected').each(function () {
            site += $(this).val() + ",";
        });
        site = site != "" ? site.slice(0, -1) : site;

        if (!site) {
            let state = "";
            $('select#stateY option:selected').each(function () {
                state += $(this).val() + ",";
            });
            state = state != "" ? state.slice(0, -1) : state;

            $('select#spvY option:selected').each(function () {
                spv += $(this).val() + ",";
           });
            spv = spv != "" ? spv.slice(0, -1) : spv;

        }

        $('select#wtgY option:selected').each(function () {
            wtg += $(this).val() + ",";
        });
        wtg = wtg != "" ? wtg.slice(0, -1) : wtg;

        var fyyear = $('select#fyY option:selected').val();
        if (fyyear == "") {
            alert("Please select financial year");
            return false;
        }
        //var month = $('select#monthM option:selected').val();
        var arr1 = new Array();
        arr1 = fyyear.split("-");
        if (userRole == "User" && site == "") {
            site = windUserAccess;
        }

        var fromDate = "";
        var toDate = "";
        if (fyyear) {
            fromDate = arr1[0] + '-04-01';
            toDate = '20' + arr1[1] + '-03-31';
        }
        var reportType = "WTG";
        var reporthead = "WTG Wise Report";
        document.getElementById("loaderY").style.display = 'flex';
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetWindYearlyGenerationReportWTGWise", "WindReport")' + '?fromDate=' + fromDate + '&toDate=' + toDate + '&country=' + country + '&state=' + state + '&spv=' + spv + '&site=' + site + '&wtg=' + wtg + '&reportType=' + reportType,
            contentType: "application/json; charset=utf-8",
            datatype: "JSON",
            success: function (result, status, xhr) {

               // var tbl = '<div class="text-center"><h5></h5></div>';
                var tbl = '<table id="example3"  class="table table-bordered table-striped" style="width: 150%;">';
                tbl += '<thead class="tbl-head"><tr>';
                tbl += '<th>FY</th>';
                tbl += '<th>Country</th>';
                tbl += '<th>State</th>';
                tbl += '<th>SPV</th>';
                tbl += '<th>Site</th>';
                tbl += '<th>WTG</th>';
                tbl += '<th>Wind (m/s)</th>';
                tbl += '<th>kWh</th>';
                tbl += '<th>PLF (%)</th>';
                tbl += '<th>MA ACT (%)</th>';
                tbl += '<th>MA CON (%)</th>';
                tbl += '<th>IGA (%)</th>';
                tbl += '<th>EGA (%)</th>';
                tbl += '<th>Gen_Hrs</th>';
                tbl += '<th>Lull_Hrs</th>';
                tbl += '<th>USMH</th>';
                tbl += '<th>SMH</th>';
                tbl += '<th>Others</th>';
                tbl += '<th>IGBDH</th>';
                tbl += '<th>EGBDH</th>';
                tbl += '<th>Load Shedding</th>';
                tbl += '</tr></thead>';

                if (result.length > 0) {

                    for (var i = 0; i < result.length; i++) {
                       // var formattedDate = moment(result[i].date, 'YYYY/MM/DD').format('DD-MM-YYYY');
                        tbl += '<tr>';
                        tbl += '<td class="text-left">' + fyyear  + '</td>';
                        tbl += '<td class="text-left">' + result[i].country + '</td>';
                        tbl += '<td class="text-left">' + result[i].state + '</td>';
                        tbl += '<td class="text-left">' + result[i].spv + '</td>';
                        tbl += '<td class="text-left">' + result[i].site + '</td>';
                        tbl += '<td class="text-left">' + result[i].wtg + '</td>';
                        tbl += '<td class="text-right">' + result[i].wind_speed.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].kwh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].plf.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ma_actual.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ma_contractual.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].iga.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ega.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].grid_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].lull_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].unschedule_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].schedule_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].others.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].igbdh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].egbdh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].load_shedding.toFixed(2) + '</td>';
                        tbl += '</tr>';
                    }
                }
                else {
                    console.log("Data not available");
                    // tbl += '<tr><th colspan="12" style="text-align:center">Data Not Available <th></tr>';
                }
                tbl += '</table>';
                $("#reportsYearly").html(tbl);
                $.fn.DataTable.ext.pager.numbers_length = 6;
                $('#example3').DataTable({
                    dom: 'Bfrtip',
                    title: 'ImportApproval',
                    responsive: false,
                    lengthChange: false,
                    autoWidth: true,
                    paging: true,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: true,
                    pageLength: 50,
                    buttons: [
                        {
                            extend: 'excel',
                            title: 'WTG Wise Yearly Generation Report',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csv',
                            title: 'WTG Wise Yearly Generation Report',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        'colvis'
                    ]
                    /* "buttons": [
                         'copy', 'excel', 'csv', 'colvis'
                     ]*/
                });
                $(".dt-buttons").addClass('btn-group flex-wrap');
                $(".dt-buttons > button").addClass('btn btn-secondary');
                $(".dataTables_filter> label >input").addClass('form-control form-control-sm');
                //$('#example3').removeClass('dataTable');
                $('#example3').wrap("<div class='scrolledTable'></div>");
                document.getElementById("loaderY").style.display = 'none';
            }
        });

    }

    // Yearly SIte Wise
    function GetYearlyGenReportSiteWise() {
        var country = $('select#countryY option:selected').val();
        let site = "";
        let spv = "";
        let wtg = "";
        let state = "";

        $('select#siteY option:selected').each(function () {
            site += $(this).val() + ",";
        });
        site = site != "" ? site.slice(0, -1) : site;

        if (!site) {
            let state = "";
            $('select#stateY option:selected').each(function () {
                state += $(this).val() + ",";
            });
            state = state != "" ? state.slice(0, -1) : state;

            $('select#spvY option:selected').each(function () {
                spv += $(this).val() + ",";

            });
            spv = spv != "" ? spv.slice(0, -1) : spv;

        }

        $('select#wtgY option:selected').each(function () {
            wtg += $(this).val() + ",";

        });
        wtg = wtg != "" ? wtg.slice(0, -1) : wtg;

        var fyyear = $('select#fyY option:selected').val();
        //var month = $('select#monthM option:selected').val();
        if (userRole == "User" && site == "") {
            site = windUserAccess;
        }
        if (fyyear == "") {
            alert("Please select financial year");
            return false;
        }
        var arr1 = new Array();
        arr1 = fyyear.split("-");
        var fromDate = "";
        fromDate = arr1[0] + '-04-01';
        toDate = '20' + arr1[1] + '-03-31';

        var reportType = "Site";
        var reporthead = "Site Wise Report";
        document.getElementById("loaderY").style.display = 'flex';
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetWindYearlyGenerationReportSiteWise", "WindReport")' + '?fromDate=' + fromDate + '&toDate=' + toDate + '&country=' + country + '&state=' + state + '&spv=' + spv + '&site=' + site + '&wtg=' + wtg + '&reportType=' + reportType,
            contentType: "application/json; charset=utf-8",
            datatype: "JSON",
            success: function (result, status, xhr) {

                //var tbl = '<div class="text-center"><h5></h5></div>';
                var tbl = '<table id="example3"  class="table table-bordered table-striped" style="width: 150%;">';
                tbl += '<thead class="tbl-head"><tr>';
                tbl += '<th>FY</th>';
                tbl += '<th>Country</th>';
                tbl += '<th>State</th>';
                tbl += '<th>SPV</th>';
                tbl += '<th>Site</th>';
                tbl += '<th>Capacity (MW)</th>';
                tbl += '<th>Wind (m/s)</th>';
                tbl += '<th>kWh</th>';
                tbl += '<th>PLF (%)</th>';
                tbl += '<th>MA ACT (%)</th>';
                tbl += '<th>MA CON (%)</th>';
                tbl += '<th>IGA (%)</th>';
                tbl += '<th>EGA (%)</th>';
                tbl += '<th>Gen_Hrs</th>';
                tbl += '<th>Lull_Hrs</th>';
                tbl += '<th>USMH</th>';
                tbl += '<th>SMH</th>';
                tbl += '<th>Others</th>';
                tbl += '<th>IGBDH</th>';
                tbl += '<th>EGBDH</th>';
                tbl += '<th>Load Shedding</th>';
                tbl += '</tr></thead>';

                if (result.length > 0) {

                    for (var i = 0; i < result.length; i++) {
                        // var formattedDate = moment(result[i].date, 'YYYY/MM/DD').format('DD-MM-YYYY');
                        tbl += '<tr>';
                        tbl += '<td class="text-left">' + fyyear + '</td>';
                        tbl += '<td class="text-left">' + result[i].country + '</td>';
                        tbl += '<td class="text-left">' + result[i].state + '</td>';
                        tbl += '<td class="text-left">' + result[i].spv + '</td>';
                        tbl += '<td class="text-left">' + result[i].site + '</td>';
                        tbl += '<td class="text-right">' + result[i].total_mw.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].wind_speed.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].kwh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].plf.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ma_actual.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ma_contractual.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].iga.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].ega.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].grid_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].lull_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].unschedule_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].schedule_hrs.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].others.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].igbdh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].egbdh.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].load_shedding.toFixed(2) + '</td>';

                        tbl += '</tr>';
                    }
                }
                else {
                    console.log("Data not available");
                    // tbl += '<tr><th colspan="12" style="text-align:center">Data Not Available <th></tr>';
                }
                tbl += '</table>';
                $("#reportsYearly").html(tbl);
                $.fn.DataTable.ext.pager.numbers_length = 6;
                $('#example3').DataTable({
                    dom: 'Bfrtip',
                    title: 'ImportApproval',
                    responsive: false,
                    lengthChange: false,
                    autoWidth: true,
                    paging: true,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: true,
                    pageLength: 50,
                    buttons: [
                        {
                            extend: 'excel',
                            title: 'Site Wise Yearly Generation Report',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csv',
                            title: 'Site Wise Yearly Generation Report',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        'colvis'
                    ]
                    /* "buttons": [
                         'copy', 'excel', 'csv', 'colvis'
                     ]*/
                });
                $(".dt-buttons").addClass('btn-group flex-wrap');
                $(".dt-buttons > button").addClass('btn btn-secondary');
                $(".dataTables_filter> label >input").addClass('form-control form-control-sm');
                $("dataTables_filter").css("margin-top", "-35px");
               // $('#example3').removeClass('dataTable');
                $('#example3').wrap("<div class='scrolledTable'></div>");
                document.getElementById("loaderY").style.display = 'none';
            }
        });

    }

</script>
