@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Wind Gen Summary";
}
@{
    string windSiteList = "";
   
    var usermodel = JsonConvert.DeserializeObject<UserAccess>(@HttpContextAccessor.HttpContext.Session.GetString("UserAccess"));

}
@for (int i = 0; i < @usermodel.access_list.Count; i++)
{

    if (@usermodel.access_list[i].page_type == 3 && @usermodel.access_list[i].site_type == 1)
    {
        windSiteList += @usermodel.access_list[i].identity.ToString() + ",";
    }
    

}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/theme/plugins/fontawesome-free/css/all.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/theme/plugins/daterangepicker/daterangepicker.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/multiple-select/dist/multiple-select.min.css" />
<link href="~/Content/theme/dist/css/adminlte.css" rel="stylesheet" />
<!-- dropdown search -->
<link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">Wind Generation Summary</h3>

            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-2 col-form-label text-left">Site : </label>
                                <select class="form-control  col-sm-10" id="site" name="site[]" multiple>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group row">
                            <label class="col-sm-3 col-form-label text-right">Date Range : </label>
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control float-right" id="daterange" name="daterange">
                        </div>
                    </div>
                    <div class="col-md-1" ></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-block btn-primary" onclick="getReport()" style="margin-left:-5rem; width: 5rem;">Search</button>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                    <hr>

                <div id="DailyGenView" style="overflow-y: hidden;" class="DailyGenView"></div>
                <div id="loader" class="loader  center" style="display:none"></div>
            </div>
    </section>

</div>
<script src="~/Content/theme/plugins/jquery/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!--Date Range -->
<script src="~/Content/theme/plugins/moment/moment.min.js"></script>
<script src="~/Content/theme/plugins/multiple-select/dist/multiple-select.min.js" defer></script>
<script src="~/Content/theme/plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="~/Content/theme/plugins/daterangepicker/daterangepicker.js" defer></script>

<script src="~/Content/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- DataTables  & Plugins -->
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.js" defer></script>

<script src="~/Content/theme/plugins/datatables-buttons/js/dataTables.buttons.min.js" defer></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.html5.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js" defer></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js" defer></script>
<script src="~/Content/theme/plugins/pdfmake/pdfmake.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js" defer></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#daterange').daterangepicker(
            {
                maxDate: new Date(),
                locale: {
                    format: 'DD/MM/YYYY',
                }
            });
    });
    window.onload = function () {
        var state = "";
        var spv = "";
        var site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
        $.ajax({
            type: "POST",
            //url: "/WindReport/GetSiteList",
            url: '@Url.Action("GetSiteList", "WindReport")' + '?sitelist=' + site_ids,
            contentType: "application/json; charset=utf-8",
            // data: '{"state":"' + val + '"}',
            datatype: "html",
            success: function (result, status, xhr) {
                var options = "";
                for (var k = 0; k < result.length; k++) {
                    options += '<option value="' + result[k].site_master_id + '">' + result[k].site + '</option>';
                }
                $("#site").html(options);
                $('select#site').multipleSelect({
                    "minimumCountSelected": 2,
                    "placeholder": "Select Site(s)",
                    filter:true
                });
            }

        });
    }

    function getReport() {

        //var site = $('select#site option:selected').val();
        let site_id = "";

        var site = $('select#site option:selected').each(function () {
            site_id += $(this).val() + ",";
           // console.log($(this).val());
        });
        site_id = site_id != "" ? site_id.slice(0, -1) : site_id;
        if (site_id == "" || site_id == null) {
            alert("Please select site ");
            return false;
        }
        document.getElementById("loader").style.display = 'flex';
        console.log(site_id);
        var daterange = $('#daterange').val();
        var arr1 = new Array();
        arr1 = daterange.split("-");
        var fromDate = moment(arr1[0], 'DD/MM/YYYY').format('YYYY-MM-DD');
        var toDate = moment(arr1[1], 'DD/MM/YYYY').format('YYYY-MM-DD');

        $.ajax({
            type: "GET",
            url: '@Url.Action("WindGenView", "WindView")' + '?site='+ site_id + '&fromDate=' + fromDate + '&toDate=' + toDate,
            //url: "/WindView/WindGenView?fromDate=" + fromDate + "&toDate=" + toDate,
            contentType: "application/json; charset=utf-8",
            //data: '{"countryname":"' + selcountry + '"}',
            datatype: "JSON",
            success: function (result, status, xhr) {
                console.log(result); //table
                var tbl = '<table id="example1" class="table table-bordered table-striped" style="width: 150%;">';
                tbl += '<thead class="tbl-head"><tr>';
                tbl += '<th style="width:150px">Date</th>';
                tbl += '<th>State</th>';
                tbl += '<th>Site</th>';
                tbl += '<th>WTG</th>';
                tbl += '<th>Wind (m/s)</th>';
                tbl += '<th>kWh</th>';
                tbl += '<th>Feeder</th>';
                tbl += '<th>MA ACT (%)</th>';
                tbl += '<th>MA CON (%)</th>';
                tbl += '<th>IGA (%)</th>';
                tbl += '<th>EGA (%)</th>';
                tbl += '<th>PLF (%)</th>';
                tbl += '<th>Grid_hrs</th>';
                tbl += '<th>Lull_hrs</th>';
                tbl += '<th>Pro_hrs</th>';
                tbl += '<th>USMH</th>';
                tbl += '<th>SMH</th>';
                tbl += '<th>Others</th>';
                tbl += '<th>IGBDH</th>';
                tbl += '<th>EGBDH</th>';
                tbl += '<th>Load Shedding</th>';
                tbl += '</tr></thead>';

                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {

                        
                        var formattedDate = moment(result[i].date, 'YYYY/MM/DD').format('DD-MM-YYYY');
                        tbl += '<tr>';
                        tbl += '<td  class="text-left" >' + formattedDate + '</td>';
                        tbl += '<td  class="text-left">' + result[i].state + '</td>';
                        tbl += '<td  class="text-left">' + result[i].site + '</td>';
                        tbl += '<td  class="text-left">' + result[i].wtg + '</td>';
                        tbl += '<td  class="text-right">' + result[i].wind_speed.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].kwh.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].feeder + '</td>';
                        tbl += '<td  class="text-right">' + result[i].ma_actual.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].ma_contractual.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].iga.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].ega.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].plf.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].grid_hrs.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].lull_hrs.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].production_hrs.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].unschedule_num.toFixed(2)+ '</td>';
                        tbl += '<td  class="text-right">' + result[i].schedule_num.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].others_num.toFixed(2)+ '</td>';
                        tbl += '<td  class="text-right">' + result[i].igbdh_num.toFixed(2) + '</td>';
                        tbl += '<td  class="text-right">' + result[i].egbdh_num.toFixed(2) +'</td>';
                        tbl += '<td  class="text-right">' + result[i].load_shedding_num.toFixed(2) + '</td>';
                        tbl += '</tr>';
                    }
                }
                else {

                    
                }
                tbl += '</table>';
               // $("#DailyGenView").html(tbl);
                $("#DailyGenView").html("").html(tbl);
                $.fn.DataTable.ext.pager.numbers_length = 6;
                $('#example1').DataTable({
                    dom: 'Bfrtip',
                    responsive: false,
                    lengthChange: false,
                    autoWidth: true,
                    paging: true,
                    lengthChange: false,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: true,
                    responsive: false,
                    pageLength: 50,
                    
                    buttons: [
                        {
                            extend: 'excel',
                            title: 'Wind Generation View',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csv',
                            title: 'Wind Generation View',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        'colvis'
                    ]
                });
                $(".dt-buttons").addClass('btn-group flex-wrap');
                $(".dt-buttons > button").addClass('btn btn-secondary');
                $(".dataTables_filter> label >input").addClass('form-control form-control-sm');
                $('#example1').wrap("<div class='scrolledTable'></div>");
                document.getElementById("loader").style.display = 'none';
                //$('#example1').removeClass('dataTable');

            }
        });
    }



</script>

