@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor
@model DGRA_V1.Models.CountryList
@{
    ViewData["Title"] = "Wind Performance Summary";
}
@{
    string windSiteList = "";

    var usermodel = JsonConvert.DeserializeObject<UserAccess>(@HttpContextAccessor.HttpContext.Session.GetString("UserAccess"));

}
@for (int i = 0; i < @usermodel.access_list.Count; i++)
{

    if (@usermodel.access_list[i].page_type == 3 && @usermodel.access_list[i].site_type == 1)
    {
        windSiteList += @usermodel.access_list[i].identity.ToString() + ",";
    }


}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/theme/plugins/fontawesome-free/css/all.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/theme/plugins/daterangepicker/daterangepicker.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<!-- dropdown search -->
<link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>


<link href="~/Content/theme/dist/css/adminlte.css" rel="stylesheet" />
<style>
    .tab-btn {
        font-size: 0.7rem;
        font-weight: bold;
    }

    .scrolledTable {
        overflow-y: auto;
        clear: both;
    }
</style>

<div class="content-wrapper">

    <section class="content-header">
        <!--<div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Wind Performance Reports</li>
                    </ol>
                </div>
            </div>
        </div>-->
    </section>


    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">Wind Performance Summary</h3>

                <!--<div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                </div>-->
            </div>
            <div class="card-body">
                <div class="row">

                    @*<div class="col-sm-3">
            <div class="form-group">
                <div class="row">
                   <label class="col-sm-2 col-form-label text-left">FY : </label>
                    <select class="form-control  col-sm-10" id="fy" name="fy" value="">
                        <option value="">Select Financial Year</option>
                    </select>
                </div>
            </div>
        </div>*@

                    <div class="col-sm-4">
                        <div class="input-group ">
                            <label class="col-sm-2 col-form-label text-left">Date : </label>
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control float-right" id="daterange" name="daterange">
                        </div>
                    </div>
                    
                    <div>
                        <div>
                            <div class="col-sm-1 text-center"></div>
                            <div class="col-sm-1 text-center">
                                <button type="button" class="btn btn-block btn-primary" onclick="GetPRReport();" style="margin-left:2rem; width: 5rem;">Search</button>
                            </div>
                            <div class="col-sm-1 text-center"></div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-5">
                        <div class="card-body table-responsive pad" style="margin-left: -4%; padding-bottom: 2px;">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn bg-olive">
                                    <input type="radio" name="reportType" value="Site" id="pr_b1" autocomplete="off" checked> Site Wise Report
                                </label>
                                <label class="btn bg-olive">
                                    <input type="radio" name="reportType" value="SPV" id="pr_b2" autocomplete="off"> SPV Wise Report
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 text-center">

                    </div>
                    <div class="col-sm-5 text-center"></div>
                </div>

                <hr>

                <div id="reportsDaily" style="overflow-x: auto;" class="reportsDaily"></div>
                <div id="loader" class="loader  center" style="display:none"></div>
                
                <hr>
                <div class="row" id="sitewisechart" style="display:none">
                    <div class="chart col-sm-6 text-center">
                        <h5>Energy (MUs) </h5>
                        <canvas id="energy_chart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                    </div>
                    <div class="chart col-sm-6 text-center">
                        <h5>Wind (m/s) </h5>
                        <canvas id="wind_chart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                    </div>

                </div>
                <div class="row" id="spvwisechart" style="display:none">
                    <div class="col-sm-6 text-center">
                        <canvas id="pieChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                    </div>
                    <div class="col-sm-6 text-center"></div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
<script src="~/Content/theme/plugins/jquery/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="~/Content/theme/plugins/moment/moment.min.js"></script>
<script src="~/Content/theme/plugins/daterangepicker/daterangepicker.js" defer></script>
<script src="~/Content/theme/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="~/Content/theme/plugins/summernote/summernote-bs4.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/theme/plugins/datatables/jquery.dataTables.js" defer></script>

<script src="~/Content/theme/plugins/datatables-buttons/js/dataTables.buttons.min.js" defer></script>
<script src="~/Content/theme/plugins/jszip/jszip.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.html5.min.js" defer></script>
<script src="~/Content/theme/plugins/pdfmake/pdfmake.min.js" defer></script>
<script src="~/Content/theme/plugins/datatables-buttons/js/buttons.colVis.min.js" defer></script>
<script src="~/Content/theme/plugins/chart.js/Chart.min.js"></script>
<script src="~/Content/theme/dist/js/comman.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var today = new Date();
        fyear = getFinancialYear(today);
        console.log(fyear);
        
        $('#daterange').daterangepicker(
            {
                maxDate: new Date(),
                locale: {
                    format: 'DD/MM/YYYY',
                }
            });
    });
    window.onload = function () {

        //getYear();
    }

    var today = new Date();
    fyear = getFinancialYear(today);
    var Fy = fyear;

  @* function getYear() {
    $.ajax({
        type: "GET",
       url: "/WindReport/GetFinacialYear",
         url: '@Url.Action("GetFinacialYear", "WindReport")',
        contentType: "application/json; charset=utf-8",
        data: '{"countryname":"' + selcountry + '"}',
        datatype: "html",
        success: function (result, status, xhr) {
            var options = "";
            options += '<option value="">Select Financial Year</option>';
            for (var i = 0; i < result.length; i++) {
                if (result[i].financial_year == fyear) {
                    options += '<option value="' + result[i].financial_year + '" selected>' + result[i].financial_year + '</option>';
                }
                else {
                    options += '<option value="' + result[i].financial_year + '">' + result[i].financial_year + '</option>';
                }


            }
            $("#fy").html(options);
        }
    });
   }*@

    function GetPRReport() {

        var ReportType = $("input[name='reportType']:checked").val();
        if (ReportType == "SPV") {
            GetWindPRReportSPVWise();
        }
        else {

           GetWindPRReportSiteWise();
        }
    }
    // Daily Gen Report SPV WIse
    function GetWindPRReportSPVWise() {
        document.getElementById("loader").style.display = 'flex';
        var site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
        var daterange = $('#daterange').val();
        var arr1 = new Array();
        arr1 = daterange.split("-");
        var fromDate = moment(arr1[0], 'DD/MM/YYYY').format('YYYY-MM-DD');
        var toDate = moment(arr1[1], 'DD/MM/YYYY').format('YYYY-MM-DD');
        var fyear = Fy;
        console.log(fyear);
        var leble = [];
        var revenue_arr = [];
        var reporthead = "SPV Wise Reports";
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetWindPRReportSPVWise", "WindReport")' + '?fy=' + fyear + '&fromDate=' + fromDate + '&toDate=' + toDate + '&sitelist=' + site_ids,
            //url: "/WindReport/GetWindPRReportSPVWise?fy=" + fyear + " &fromDate=" + fromDate + "&toDate=" + toDate,
            contentType: "application/json; charset=utf-8",

            datatype: "JSON",
            success: function (result, status, xhr) {
                console.log(result);
                //var tbl = '<div class="text-center"><h5>' + reporthead+'</h5></div>';
                var tbl = '<table id="example1"  class="table table-bordered table-striped" style="width: 130%;">';
                tbl += '<thead class="tbl-head"><tr>';
                tbl += '<th rowspan="2" style="width: 10%;">SPV</th><th rowspan="2">Capacity<br> (MW)</th>';
                tbl += '<th colspan="3" class="text-center">JMR Energy (in MU)</th><th>Revenue</th>';
                tbl += '<th colspan="3" class="text-center">Wind Speed (m/s)</th><th colspan="3" class="text-center">PLF (%)</th>';
                tbl += '<th colspan="3" class="text-center">MA Actual (%)</th><th colspan="3" class="text-center">IGA (%)</th>';
                tbl += '<th colspan="3" class="text-center">EGA (%)</th></tr>';
                //tbl += '<tr><th>&nbsp;</th>';
               // tbl += '<th>(MW)</th>';
                tbl += '<tr><th>Tar</th>';
                tbl += '<th>Act</th>';
                tbl += '<th>Var (%)</th>';
                tbl += '<th>(MINR)</th>';
                tbl += '<th>Tar</th>';
                tbl += '<th>Act</th>';
                tbl += '<th>Var (%)</th>';
                tbl += '<th>Tar</th>';
                tbl += '<th>Act</th>';
                tbl += '<th>Var (%)</th>';
                tbl += '<th>Tar</th>';
                tbl += '<th>Act</th>';
                tbl += '<th>Var (%)</th>';
                tbl += '<th>Tar</th>';
                tbl += '<th>Act</th>';
                tbl += '<th>Var (%)</th>';
                tbl += '<th>Tar</th>';
                tbl += '<th>Act</th>';
                tbl += '<th>Var (%)</th>';

                tbl += '</tr></thead>';

                if (result.length > 0) {
                    console.log("Datatable");
                    let total_capacity = 0;
                    let total_capTarMu = 0;
                    let total_tar_mu = 0;
                    let total_act_jmr_kwh_mu = 0;
                    let avg_jmr_var = 0;
                    let total_revenue = 0;
                    let total_capTarWind = 0;
                    let total_tar_wind = 0;
                    let total_act_wind = 0;
                    let avg_wind_var = 0;
                    let total_capTarPlf = 0;
                    let total_tar_plf = 0;
                    let total_act_plf = 0;
                    let avg_plf_var = 0;
                    let total_capTarMa = 0;
                    let total_tar_ma = 0;
                    let total_act_ma = 0;
                    let avg_ma_var = 0;
                    let total_capTarIga = 0;
                    let total_tar_iga = 0;
                    let total_act_iga = 0;
                    let avg_iga_var = 0;
                    let total_capTarEga = 0;
                    let total_tar_ega = 0;
                    let total_act_ega = 0;
                    let avg_ega_var = 0;
                    let total_capActWind = 0;
                    let total_capActPlf = 0;
                    let total_capActMa = 0;
                    let total_capActIga = 0;
                    let total_capActEga = 0;

                    for (var i = 0; i < result.length; i++) {
                        leble.push(result[i].spv);
                        let revenue = 0;
                        let jmr_var = 0;
                        let wind_var = 0;
                        let plf_var = 0;
                        let ma_act_var = 0;
                        let iga_var = 0;
                        let ega_var = 0;
                        let tar_mu = 0;
                        tar_mu = result[i].tar_kwh_mu / 1000000;
                        revenue = ((result[i].act_jmr_kwh_mu - tar_mu) * result[i].total_tarrif);
                        if (result[i].act_jmr_kwh_mu != 0 || result[i].tar_kwh_mu != 0) {
                            jmr_var = ((result[i].act_jmr_kwh_mu - tar_mu) / tar_mu) * 100;
                        }
                        if (result[i].act_Wind != 0 || result[i].tar_wind != 0) {
                            wind_var = ((result[i].act_Wind - result[i].tar_wind) / result[i].tar_wind) * 100;
                        }
                        plf_var = (result[i].act_plf - result[i].tar_plf);
                        ma_act_var = (result[i].act_ma - result[i].tar_ma);
                        iga_var = (result[i].act_iga - result[i].tar_iga);
                        ega_var = (result[i].act_ega - result[i].tar_ega);
                       
                        //revenue_arr.push(revenue.toFixed(2));
			            total_capacity += result[i].total_mw;
                        total_tar_mu += tar_mu;
                        total_act_jmr_kwh_mu += result[i].act_jmr_kwh_mu;
                        total_revenue += revenue;
                        total_tar_wind += result[i].tar_wind;
                        total_act_wind += result[i].act_Wind;
                        total_tar_plf += result[i].tar_plf;
                        total_act_plf += result[i].act_plf;
                        total_tar_ma += result[i].tar_ma;
                        total_act_ma += result[i].act_ma;
                        total_tar_iga += result[i].tar_iga;
                        total_act_iga += result[i].act_iga;
                        total_tar_ega += result[i].tar_ega;
                        total_act_ega += result[i].act_ega;
                        total_capTarMu += tar_mu * result[i].total_mw;
                        total_capTarWind += result[i].tar_wind * result[i].total_mw;
                        total_capTarPlf += result[i].tar_plf * result[i].total_mw;
                        total_capTarMa += result[i].tar_ma * result[i].total_mw;
                        total_capTarIga += result[i].tar_iga * result[i].total_mw;
                        total_capTarEga += result[i].tar_ega * result[i].total_mw;
                        total_capActWind += result[i].act_Wind * result[i].total_mw;
                        total_capActPlf += result[i].act_plf * result[i].total_mw;
                        total_capActMa += result[i].act_ma * result[i].total_mw;
                        total_capActIga += result[i].act_iga * result[i].total_mw;
                        total_capActEga += result[i].act_ega * result[i].total_mw;

                        tbl += '<tr>';
                        tbl += '<td class="text-left">' + result[i].spv + '</td>';
                        tbl += '<td class="text-right">' + result[i].total_mw.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + tar_mu.toFixed(2)+'</td>';
                        tbl += '<td class="text-right">' + result[i].act_jmr_kwh_mu.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + jmr_var.toFixed(2)+'</td>';
                        tbl += '<td class="text-right">' + revenue.toFixed(2)+'</td>';
                        tbl += '<td class="text-right">' + result[i].tar_wind.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].act_Wind.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + wind_var.toFixed(2)+'</td>';
                        tbl += '<td class="text-right">' + result[i].tar_plf.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].act_plf.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + plf_var.toFixed(2)+'</td>';
                        tbl += '<td class="text-right">' + result[i].tar_ma.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].act_ma.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + ma_act_var.toFixed(2)+'</td>';
                        tbl += '<td class="text-right">' + result[i].tar_iga.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].act_iga.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + iga_var.toFixed(2)+'</td>';
                        tbl += '<td class="text-right">' + result[i].tar_ega.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].act_ega.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + ega_var.toFixed(2)+'</td>';

                        tbl += '</tr>';
                    }
                    let avg_tar_mu = 0;
                    let avg_tar_wind = 0;
                    let avg_tar_plf = 0;
                    let avg_tar_ma = 0;
                    let avg_tar_iga = 0;
                    let avg_tar_ega = 0;
                    let avg_act_wind = 0;
                    let avg_act_plf = 0;
                    let avg_act_ma = 0;
                    let avg_act_iga = 0;
                    let avg_act_ega = 0;

                    
                    if (total_capacity != 0) {
                        avg_tar_mu = total_capTarMu / total_capacity;
                        avg_tar_wind = total_capTarWind / total_capacity;
                        avg_tar_plf = total_capTarPlf / total_capacity;
                        avg_tar_ma = total_capTarMa / total_capacity;
                        avg_tar_iga = total_capTarIga / total_capacity;
                        avg_tar_ega = total_capTarEga / total_capacity;
                        avg_act_wind = total_capActWind / total_capacity;
                        avg_act_plf = total_capActPlf / total_capacity;
                        avg_act_ma = total_capActMa / total_capacity;
                        avg_act_iga = total_capActIga / total_capacity;
                        avg_act_ega = total_capActEga / total_capacity;
                    }

                    if (total_tar_mu != 0) {
                        avg_jmr_var = (((total_act_jmr_kwh_mu - total_tar_mu) / total_tar_mu) * 100);
                    }
                    if (avg_tar_wind != 0) {
                        avg_wind_var = ((avg_act_wind.toFixed(2) - avg_tar_wind.toFixed(2)) / avg_tar_wind.toFixed(2)) * 100;
                    }

                    avg_plf_var = (avg_act_plf - avg_tar_plf);
                    avg_ma_var = (avg_act_ma - avg_tar_ma);
                    avg_iga_var = (avg_act_iga - avg_tar_iga);
                    avg_ega_var = (avg_act_ega - avg_tar_ega);

                    tbl += '<tfoot><tr>';
                    tbl += '<th rowspan="1"  style="width: 10%; font-weight: bold;">Grand Total</th>';
                    tbl += '<td class="text-right" style="font-weight: bold;"><b>' + total_capacity.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + total_tar_mu.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + total_act_jmr_kwh_mu.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_jmr_var.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + total_revenue.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_tar_wind.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_act_wind.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_wind_var.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_tar_plf.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_act_plf.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_plf_var.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_tar_ma.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_act_ma.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_ma_var.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_tar_iga.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_act_iga.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_iga_var.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_tar_ega.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_act_ega.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_ega_var.toFixed(2) + '</b></td>';
                    tbl += '</tr></tfoot>';
                }
                else {
                    console.log("Data not available");

                }
                tbl += '</table>';
                //$("#reportsDaily").html(tbl);
                $("#reportsDaily").html("").html(tbl);
                $.fn.DataTable.ext.pager.numbers_length = 6;
                $('#example1').DataTable({
                    dom: 'Bfrtip',
                    responsive: false,
                    lengthChange: false,
                    paging: true,
                    lengthChange: false,
                    searching: true,
                    ordering: true,
                    info: true,
                    responsive: false,
                    autoWidth: true,
                    pageLength: 50,
                    buttons: [
                        {
                            extend:'excel',
                            footer: true,
                            title:'Wind Performance Reports SPV Wise',                    
                            //titleAttr: 'Export Excel',
                            "oSelectorOpts": { filter: 'applied', order: 'current' },
                            exportOptions: {
                                columns: ':visible',
                                modifier: {
                                    page: 'all'
                                },
                                format: {
                                    header: function (data, columnIdx) {
                                        if (columnIdx == 1) {
                                            return 'Capacity (MW)';
                                        }
                                        else if (columnIdx == 2) {
                                            return 'JMR Energy (in MU)  Tar';
                                        }
                                        else if (columnIdx == 3) {
                                            return 'JMR Energy (in MU)  Act';
                                        }
                                        else if (columnIdx == 4) {
                                            return 'JMR Energy (in MU)  Var (%)';
                                        }
                                        else if (columnIdx == 5) {
                                            return 'Revenue (MINR) ';
                                        }
                                        else if (columnIdx == 6) {
                                            return 'Wind Speed (m/s)  Tar';
                                        }
                                        else if (columnIdx == 7) {
                                            return 'Wind Speed (m/s)  Act ';
                                        }
                                        else if (columnIdx == 8) {
                                            return 'Wind Speed (m/s)  Var (%) ';
                                        }
                                        else if (columnIdx == 9) {
                                            return 'PLF (%)  Tar';
                                        }
                                        else if (columnIdx == 10) {
                                            return 'PLF (%)  Act ';
                                        }
                                        else if (columnIdx == 11) {
                                            return 'PLF (%)  Var (%) ';
                                        }
                                        else if (columnIdx == 12) {
                                            return 'MA Actual (%)  Tar';
                                        }
                                        else if (columnIdx == 13) {
                                            return 'MA Actual (%)  Act ';
                                        }
                                        else if (columnIdx == 14) {
                                            return 'MA Actual (%)  Var (%) ';
                                        }
                                        else if (columnIdx == 15) {
                                            return 'IGA (%)  Tar';
                                        }
                                        else if (columnIdx == 16) {
                                            return 'IGA (%)  Act ';
                                        }
                                        else if (columnIdx == 17) {
                                            return 'IGA (%)  Var (%) ';
                                        }
                                        else if (columnIdx == 18) {
                                            return 'EGA (%)  Tar';
                                        }
                                        else if (columnIdx == 19) {
                                            return 'EGA (%)  Act ';
                                        }
                                        else if (columnIdx == 20) {
                                            return 'EGA (%)  Var (%) ';
                                        }
                                        else {
                                            return data;
                                        }
                                    }
                                }
                            }
                        },
                        {
                            extend: 'csv',
                            footer: true,
                            title: 'Wind Performance Reports SPV Wise',
                            //titleAttr: 'Export Excel',
                            "oSelectorOpts": { filter: 'applied', order: 'current' },
                            exportOptions: {
                                columns: ':visible',
                                modifier: {
                                    page: 'all'
                                },
                                format: {
                                    header: function (data, columnIdx) {
                                        if (columnIdx == 1) {
                                            return 'Capacity (MW)';
                                        }
                                        else if (columnIdx == 2) {
                                            return 'JMR Energy (in MU)  Tar';
                                        }
                                        else if (columnIdx == 3) {
                                            return 'JMR Energy (in MU)  Act';
                                        }
                                        else if (columnIdx == 4) {
                                            return 'JMR Energy (in MU)  Var (%)';
                                        }
                                        else if (columnIdx == 5) {
                                            return 'Revenue (MINR) ';
                                        }
                                        else if (columnIdx == 6) {
                                            return 'Wind Speed (m/s)  Tar';
                                        }
                                        else if (columnIdx == 7) {
                                            return 'Wind Speed (m/s)  Act ';
                                        }
                                        else if (columnIdx == 8) {
                                            return 'Wind Speed (m/s)  Var (%) ';
                                        }
                                        else if (columnIdx == 9) {
                                            return 'PLF (%)  Tar';
                                        }
                                        else if (columnIdx == 10) {
                                            return 'PLF (%)  Act ';
                                        }
                                        else if (columnIdx == 11) {
                                            return 'PLF (%)  Var (%) ';
                                        }
                                        else if (columnIdx == 12) {
                                            return 'MA Actual (%)  Tar';
                                        }
                                        else if (columnIdx == 13) {
                                            return 'MA Actual (%)  Act ';
                                        }
                                        else if (columnIdx == 14) {
                                            return 'MA Actual (%)  Var (%) ';
                                        }
                                        else if (columnIdx == 15) {
                                            return 'IGA (%)  Tar';
                                        }
                                        else if (columnIdx == 16) {
                                            return 'IGA (%)  Act ';
                                        }
                                        else if (columnIdx == 17) {
                                            return 'IGA (%)  Var (%) ';
                                        }
                                        else if (columnIdx == 18) {
                                            return 'EGA (%)  Tar';
                                        }
                                        else if (columnIdx == 19) {
                                            return 'EGA (%)  Act ';
                                        }
                                        else if (columnIdx == 20) {
                                            return 'EGA (%)  Var (%) ';
                                        }
                                        else {
                                            return data;
                                        }
                                    }
                                }
                            }
                        },
                        'colvis'
                    ]
                });
                $(".dt-buttons").addClass('btn-group flex-wrap');
                $(".dt-buttons > button").addClass('btn btn-secondary');
                $(".dataTables_filter> label >input").addClass('form-control form-control-sm');
                $('#example1').wrap("<div class='scrolledTable'></div>");
                document.getElementById("loader").style.display = 'none';

            }
        });


    }

   // -----------------------------------------------

    // Daily Gen Report Site WIse
    function GetWindPRReportSiteWise() {
        document.getElementById("loader").style.display = 'flex';
         var site_ids = "@Html.Raw(windSiteList.TrimEnd(','))";
        var daterange = $('#daterange').val();
        var arr1 = new Array();
        arr1 = daterange.split("-");
        var fromDate = moment(arr1[0], 'DD/MM/YYYY').format('YYYY-MM-DD');
        var toDate = moment(arr1[1], 'DD/MM/YYYY').format('YYYY-MM-DD');
        var fyear = Fy;
        console.log(fyear);
        var reporthead = "Site Wise Reports";
        var Energy_Dataset = [];
        var Wind_Dataset = [];
        var Levels = [];
        //var Actual_Energy_Dataset = [];
        //var Energy_var_Dataset = [];
        document.getElementById("loader").style.display = 'flex';
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetWindPRReportSiteWise", "WindReport")' + '?fy=' + fyear + '&fromDate=' + fromDate + '&toDate=' + toDate + '&sitelist=' + site_ids,
            //url: "/WindReport/GetWindPRReportSiteWise?fy=" + fyear+" &fromDate=" + fromDate + "&toDate=" + toDate,
            contentType: "application/json; charset=utf-8",
            datatype: "JSON",
            success: function (result, status, xhr) {
                console.log(result);
               // var tbl = '<div class="text-center"><h5>' + reporthead + '</h5></div>';
                var tbl = '<table id="example2"  class="table table-bordered table-striped" style="width: 130%;">';
                tbl += '<thead class="tbl-head"><tr>';
                tbl += '<th rowspan="2"  style="width: 10%;">Site</th><th  rowspan="2">Capacity<br> (MW)</th>';
                tbl += '<th colspan="3" class="text-center">JMR Energy (in MU)</th><th>Revenue</th>';
                tbl += '<th colspan="3" class="text-center">Wind Speed (m/s)</th><th colspan="3" class="text-center">PLF (%)</th>';
                tbl += '<th colspan="3" class="text-center">MA Actual (%)</th><th colspan="3" class="text-center">IGA (%)</th>';
                tbl += '<th colspan="3" class="text-center">EGA (%)</th></tr>';
               // tbl += '<tr><th>&nbsp;</th>';
                //tbl += '<th>(MW)</th>';
                tbl += '<tr><th>Tar</th>';
                tbl += '<th>Act</th>';
                tbl += '<th>Var (%)</th>';
                tbl += '<th>(MINR)</th>';
                tbl += '<th>Tar</th>';
                tbl += '<th>Act</th>';
                tbl += '<th>Var (%)</th>';
                tbl += '<th>Tar</th>';
                tbl += '<th>Act</th>';
                tbl += '<th>Var (%)</th>';
                tbl += '<th>Tar</th>';
                tbl += '<th>Act</th>';
                tbl += '<th>Var (%)</th>';
                tbl += '<th>Tar</th>';
                tbl += '<th>Act</th>';
                tbl += '<th>Var (%)</th>';
                tbl += '<th>Tar</th>';
                tbl += '<th>Act</th>';
                tbl += '<th>Var (%)</th>';
                tbl += '</tr></thead>';
                console.log(result.length);
                if (result.length > 0) {
                    console.log("Datatable");
                    let target_energy = [];
                    let actual_energy = [];
                    let pas_energy_var = [];
                    let neg_energy_var = [];
                    let target_wind = [];
                    let actual_wind = [];
                    let pas_wind_var = [];
                    let neg_wind_var = [];
	                let total_capacity = 0;
                    let total_capTarMu = 0;
                    let total_tar_mu = 0;
                    let total_act_jmr_kwh_mu = 0;
                    let avg_jmr_var = 0;
                    let total_revenue = 0;
                    let total_capTarWind = 0;
                    let total_tar_wind = 0;
                    let total_act_wind = 0;
                    let avg_wind_var = 0;
                    let total_capTarPlf = 0;
                    let total_tar_plf = 0;
                    let total_act_plf = 0;
                    let avg_plf_var = 0;
                    let total_capTarMa = 0;
                    let total_tar_ma = 0;
                    let total_act_ma = 0;
                    let avg_ma_var = 0;
                    let total_capTarIga = 0;
                    let total_tar_iga = 0;
                    let total_act_iga = 0;
                    let avg_iga_var = 0;
                    let total_capTarEga = 0;
                    let total_tar_ega = 0;
                    let total_act_ega = 0;
                    let avg_ega_var = 0;
                    let total_capActWind = 0;
                    let total_capActPlf = 0;
                    let total_capActMa = 0;
                    let total_capActIga = 0;
                    let total_capActEga = 0;

                    for (var i = 0; i < result.length; i++) {
                        let revenue = 0;
                        let jmr_var = 0;
                        let wind_var = 0;
                        let plf_var = 0;
                        let ma_act_var = 0;
                        let iga_var = 0;
                        let ega_var = 0;
                        let tar_mu = 0;
                        tar_mu = result[i].tar_kwh_mu / 1000000;
                        revenue = ((result[i].act_jmr_kwh_mu - tar_mu) * result[i].total_tarrif);
                        if (result[i].act_jmr_kwh_mu != 0 || result[i].tar_kwh_mu != 0) {
                            jmr_var = ((result[i].act_jmr_kwh_mu - tar_mu) / tar_mu) * 100;
                        }
                        if (result[i].act_Wind != 0 || result[i].tar_wind != 0) {
                            wind_var = ((result[i].act_Wind.toFixed(2) - result[i].tar_wind.toFixed(2)) / result[i].tar_wind.toFixed(2)) * 100;
                        }

                        plf_var = (result[i].act_plf - result[i].tar_plf);
                        ma_act_var = (result[i].act_ma - result[i].tar_ma);
                        iga_var = (result[i].act_iga - result[i].tar_iga);
                        ega_var = (result[i].act_ega - result[i].tar_ega);

                        let pasitive;
                        let negative;
                        if (jmr_var < 0) {
                            negative = jmr_var;
                        }
                        else {
                            pasitive = jmr_var;
                        }
                        let w_pasitive;
                        let w_negative;
                        if (wind_var < 0) {
                            w_negative = wind_var;
                        }
                        else {
                            w_pasitive = wind_var;
                        }

                        target_energy.push(result[i].tar_kwh_mu.toFixed(2));
                        actual_energy.push(result[i].act_jmr_kwh_mu.toFixed(2));
                        pas_energy_var.push(pasitive);
                        neg_energy_var.push(negative);
                        Levels.push(result[i].site);
                        target_wind.push(result[i].tar_wind.toFixed(2));
                        actual_wind.push(result[i].act_Wind.toFixed(2));
                        pas_wind_var.push(w_pasitive);
                        neg_wind_var.push(w_negative);
                        
                        total_capacity += result[i].total_mw;
                        total_tar_mu += tar_mu;
                        total_act_jmr_kwh_mu += result[i].act_jmr_kwh_mu;
                        total_revenue += revenue;
                        total_tar_wind += result[i].tar_wind;
                        total_act_wind += result[i].act_Wind;
                        total_tar_plf += result[i].tar_plf;
                        total_act_plf += result[i].act_plf;
                        total_tar_ma += result[i].tar_ma;
                        total_act_ma += result[i].act_ma;
                        total_tar_iga += result[i].tar_iga;
                        total_act_iga += result[i].act_iga
                        total_tar_ega += result[i].tar_ega;
                        total_act_ega += result[i].act_ega;
                        total_capTarMu += tar_mu * result[i].total_mw;
                        total_capTarWind += result[i].tar_wind * result[i].total_mw;
                        total_capTarPlf += result[i].tar_plf * result[i].total_mw;
                        total_capTarMa += result[i].tar_ma * result[i].total_mw;
                        total_capTarIga += result[i].tar_iga * result[i].total_mw;
                        total_capTarEga += result[i].tar_ega * result[i].total_mw;
                        total_capActWind += result[i].act_Wind * result[i].total_mw;
                        total_capActPlf += result[i].act_plf * result[i].total_mw;
                        total_capActMa += result[i].act_ma * result[i].total_mw;
                        total_capActIga += result[i].act_iga * result[i].total_mw;
                        total_capActEga += result[i].act_ega * result[i].total_mw;

                        tbl += '<tr>';
                        tbl += '<td class="text-left">' + result[i].site + '</td>';
                        tbl += '<td class="text-right">' + result[i].total_mw.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + tar_mu.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].act_jmr_kwh_mu.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + jmr_var.toFixed(2)+'</td>';
                        tbl += '<td class="text-right">' + revenue.toFixed(2)+'</td>';
                        tbl += '<td class="text-right">' + result[i].tar_wind.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].act_Wind.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + wind_var.toFixed(2)+'</td>';
                        tbl += '<td class="text-right">' + result[i].tar_plf.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].act_plf.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + plf_var.toFixed(2)+'</td>';
                        tbl += '<td class="text-right">' + result[i].tar_ma.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].act_ma.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + ma_act_var.toFixed(2)+'</td>';
                        tbl += '<td class="text-right">' + result[i].tar_iga.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].act_iga.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + iga_var.toFixed(2)+'</td>';
                        tbl += '<td class="text-right">' + result[i].tar_ega.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + result[i].act_ega.toFixed(2) + '</td>';
                        tbl += '<td class="text-right">' + ega_var.toFixed(2)+'</td>';

                        tbl += '</tr>';
                    }
                    let avg_tar_mu = 0;
                    let avg_tar_wind = 0;
                    let avg_tar_plf = 0;
                    let avg_tar_ma = 0;
                    let avg_tar_iga = 0;
                    let avg_tar_ega = 0
                    let avg_act_wind = 0;
                    let avg_act_plf = 0;
                    let avg_act_ma = 0;
                    let avg_act_iga = 0;
                    let avg_act_ega = 0;

                  
                    if (total_capacity != 0) {
                        avg_tar_mu = total_capTarMu / total_capacity;
                        avg_tar_wind = total_capTarWind / total_capacity;
                        avg_tar_plf = total_capTarPlf / total_capacity;
                        avg_tar_ma = total_capTarMa / total_capacity;
                        avg_tar_iga = total_capTarIga / total_capacity;
                        avg_tar_ega = total_capTarEga / total_capacity;
                        avg_act_wind = total_capActWind / total_capacity;
                        avg_act_plf = total_capActPlf / total_capacity;
                        avg_act_ma = total_capActMa / total_capacity;
                        avg_act_iga = total_capActIga / total_capacity;
                        avg_act_ega = total_capActEga / total_capacity;
                    }

                    if (total_tar_mu != 0) {
                        avg_jmr_var = (((total_act_jmr_kwh_mu - total_tar_mu) / total_tar_mu) * 100);
                    }
                    if (avg_tar_wind != 0) {
                        avg_wind_var = ((avg_act_wind.toFixed(2) - avg_tar_wind.toFixed(2)) / avg_tar_wind.toFixed(2)) * 100;
                    }

                    avg_plf_var = (avg_act_plf - avg_tar_plf);
                    avg_ma_var = (avg_act_ma - avg_tar_ma);
                    avg_iga_var = (avg_act_iga - avg_tar_iga);
                    avg_ega_var = (avg_act_ega - avg_tar_ega);

                    tbl += '<tfoot><tr>';
                    tbl += '<th rowspan="1"  style="width: 10%; font-weight: bold;">Grand Total</th>';
                    tbl += '<td class="text-right"><b>' + total_capacity.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + total_tar_mu.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + total_act_jmr_kwh_mu.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_jmr_var.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + total_revenue.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_tar_wind.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_act_wind.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_wind_var.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_tar_plf.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_act_plf.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_plf_var.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_tar_ma.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_act_ma.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_ma_var.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_tar_iga.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_act_iga.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_iga_var.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_tar_ega.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_act_ega.toFixed(2) + '</b></td>';
                    tbl += '<td class="text-right"><b>' + avg_ega_var.toFixed(2) + '</b></td>';
                    tbl += '</tr></tfoot>';



                }
                else {
                    console.log("Data not available");

                }
                tbl += '</table>';
                //$("#reportsDaily").html(tbl);
                $("#reportsDaily").html("").html(tbl);
                $('#example2').DataTable({
                    dom: 'Bfrtip',
                    responsive: false,
                    lengthChange: false,
                    autoWidth: true,
                    paging: true,
                    lengthChange: false,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: true,
                    responsive: false,
                    pageLength: 50,
                    buttons: [
                        {
                            extend: 'excel',
                            footer: true,
                            title: 'Wind Performance Reports Site Wise',
                            //titleAttr: 'Export Excel',
                            "oSelectorOpts": { filter: 'applied', order: 'current' },
                            exportOptions: {
                                columns: ':visible',
                                modifier: {
                                    page: 'all'
                                },
                                format: {
                                    header: function (data, columnIdx) {
                                        if (columnIdx == 1) {
                                            return 'Capacity (MW)';
                                        }
                                        else if (columnIdx == 2) {
                                            return 'JMR Energy (in MU)  Tar';
                                        }
                                        else if (columnIdx == 3) {
                                            return 'JMR Energy (in MU) Act';
                                        }
                                        else if (columnIdx == 4) {
                                            return 'JMR Energy (in MU) Var (%)';
                                        }
                                        else if (columnIdx == 5) {
                                            return 'Revenue (MINR) ';
                                        }
                                        else if (columnIdx == 6) {
                                            return 'Wind Speed (m/s) Tar';
                                        }
                                        else if (columnIdx == 7) {
                                            return 'Wind Speed (m/s) Act ';
                                        }
                                        else if (columnIdx == 8) {
                                            return 'Wind Speed (m/s) Var (%) ';
                                        }
                                        else if (columnIdx == 9) {
                                            return 'PLF (%) Tar';
                                        }
                                        else if (columnIdx == 10) {
                                            return 'PLF (%) Act ';
                                        }
                                        else if (columnIdx == 11) {
                                            return 'PLF (%) Var (%) ';
                                        }
                                        else if (columnIdx == 12) {
                                            return 'MA Actual (%) Tar';
                                        }
                                        else if (columnIdx == 13) {
                                            return 'MA Actual (%) Act ';
                                        }
                                        else if (columnIdx == 14) {
                                            return 'MA Actual (%) Var (%) ';
                                        }
                                        else if (columnIdx == 15) {
                                            return 'IGA (%) Tar';
                                        }
                                        else if (columnIdx == 16) {
                                            return 'IGA (%) Act ';
                                        }
                                        else if (columnIdx == 17) {
                                            return 'IGA (%) Var (%) ';
                                        }
                                        else if (columnIdx == 18) {
                                            return 'EGA (%) Tar';
                                        }
                                        else if (columnIdx == 19) {
                                            return 'EGA (%) Act ';
                                        }
                                        else if (columnIdx == 20) {
                                            return 'EGA (%) Var (%) ';
                                        }
                                        else {
                                            return data;
                                        }
                                    }
                                }
                            }
                        },
                        {
                            extend: 'csv',
                            footer: true,
                            title: 'Wind Performance Reports Site Wise',
                            //titleAttr: 'Export Excel',
                            "oSelectorOpts": { filter: 'applied', order: 'current' },
                            exportOptions: {
                                columns: ':visible',
                                modifier: {
                                    page: 'all'
                                },
                                format: {
                                    header: function (data, columnIdx) {
                                        if (columnIdx == 1) {
                                            return 'Capacity (MW)';
                                        }
                                        else if (columnIdx == 2) {
                                            return 'JMR Energy (in MU)  Tar';
                                        }
                                        else if (columnIdx == 3) {
                                            return 'JMR Energy (in MU) Act';
                                        }
                                        else if (columnIdx == 4) {
                                            return 'JMR Energy (in MU) Var (%)';
                                        }
                                        else if (columnIdx == 5) {
                                            return 'Revenue (MINR) ';
                                        }
                                        else if (columnIdx == 6) {
                                            return 'Wind Speed (m/s) Tar';
                                        }
                                        else if (columnIdx == 7) {
                                            return 'Wind Speed (m/s) Act ';
                                        }
                                        else if (columnIdx == 8) {
                                            return 'Wind Speed (m/s) Var (%) ';
                                        }
                                        else if (columnIdx == 9) {
                                            return 'PLF (%) Tar';
                                        }
                                        else if (columnIdx == 10) {
                                            return 'PLF (%) Act ';
                                        }
                                        else if (columnIdx == 11) {
                                            return 'PLF (%) Var (%) ';
                                        }
                                        else if (columnIdx == 12) {
                                            return 'MA Actual (%) Tar';
                                        }
                                        else if (columnIdx == 13) {
                                            return 'MA Actual (%) Act ';
                                        }
                                        else if (columnIdx == 14) {
                                            return 'MA Actual (%) Var (%) ';
                                        }
                                        else if (columnIdx == 15) {
                                            return 'IGA (%) Tar';
                                        }
                                        else if (columnIdx == 16) {
                                            return 'IGA (%) Act ';
                                        }
                                        else if (columnIdx == 17) {
                                            return 'IGA (%) Var (%) ';
                                        }
                                        else if (columnIdx == 18) {
                                            return 'EGA (%) Tar';
                                        }
                                        else if (columnIdx == 19) {
                                            return 'EGA (%) Act ';
                                        }
                                        else if (columnIdx == 20) {
                                            return 'EGA (%) Var (%) ';
                                        }
                                        else {
                                            return data;
                                        }
                                    }
                                }
                            }
                        },
                        'colvis'
                    ]
                });
                $(".dt-buttons").addClass('btn-group flex-wrap');
                $(".dt-buttons > button").addClass('btn btn-secondary');
                $(".dataTables_filter> label >input").addClass('form-control form-control-sm');
                document.getElementById("loader").style.display = 'none';
                $('#example2').wrap("<div class='scrolledTable'></div>");

            }
        });
    }


</script>
