<!DOCTYPE html>
@using System.Security.Principal
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@using Newtonsoft.Json;
@{
    var usermodel = JsonConvert.DeserializeObject<UserAccess>(@HttpContextAccessor.HttpContext.Session.GetString("UserAccess"));
    //bool upload_access = false;
    int ucnt = 0;
    int windView = 0;
    int windReport = 0;
    int solarView = 0;
    int solarReport = 0;
    int approvalCnt = 0;
}

@for (int i = 0; i < @usermodel.access_list.Count; i++)
{

    if (@usermodel.access_list[i].page_type == 3 && @usermodel.access_list[i].upload_access == 1)
    {
        ucnt++;
    }
    if (@usermodel.access_list[i].page_type == 1 && @usermodel.access_list[i].site_type == 1)
    {
        windView++;
    }
    if (@usermodel.access_list[i].page_type == 2 && @usermodel.access_list[i].site_type == 1)
    {
        windReport++;
    }
    if (@usermodel.access_list[i].page_type == 1 && @usermodel.access_list[i].site_type == 2)
    {
        solarView++;
    }
    if (@usermodel.access_list[i].page_type == 2 && @usermodel.access_list[i].site_type == 2)
    {
        solarReport++;
    }
    if (@usermodel.access_list[i].page_type == 4 && @usermodel.access_list[i].site_type == 0)
    {
        approvalCnt++;
    }

}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero Future Energies</title>
    <link rel="icon" type="image/x-icon" href="~/Content/img/CMMS_Logo.png">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link href="~/Content/theme/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/theme/dist/css/adminlte.min.css">
    <style>
        .os-content-arrange {
            height: unset !important;
        }

        .os-content-glue {
            height: unset !important;
        }

        .os-viewport {
            overflow-x: unset !important;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">

    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <!--<li class="nav-item d-none d-sm-inline-block">
        <a href="@Url.Action("Index", "Home")" class="nav-link">Home</a>
    </li>-->

            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">

                @*@if (User.Identity.IsAuthenticated)
        {*@


                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" data-target="#userProfile" aria-expanded="false">
                        <div class="user-panel" style="margin-right: -1.2rem;">
                            <div class="image">
                                <img src="~/Content/theme/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image" style="width: 1.5rem !important;">
                            </div>

                        </div>
                    </a>

                    <div class=" collapse dropdown-menu dropdown-menu-lg dropdown-menu-right " aria-labelledby="dropDownButton" id="userProfile"style="right: -2rem; top: 1.8rem;">
                        <span class="dropdown-item dropdown-header">User Details</span>
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item">
                            @HttpContextAccessor.HttpContext.Session.GetString("DisplayName") &nbsp;(@HttpContextAccessor.HttpContext.Session.GetString("role"))

                        </span>
                        <!--<div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item">
        <i class=" mr-2"></i>Role Name
        <span class="float-right text-muted text-sm"></span>
    </a>-->
                        <div class="dropdown-divider"></div>
                        <a href="~/Home/Logout" class="dropdown-item text-center">
                            <span class=""> Sign Out</span>
                            
                        </a>

                    </div>
                </li>
                @*}*@
                <!-- Messages Dropdown Menu -->
                <!--<li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-comments"></i>
            <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">

            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
    </li>-->
                <!-- Notifications Dropdown Menu -->
                <!-- <li class="nav-item dropdown">
         <a class="nav-link" data-toggle="dropdown" href="#">
             <i class="far fa-bell"></i>
             <span class="badge badge-warning navbar-badge">15</span>
         </a>
         <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
             <span class="dropdown-item dropdown-header">15 Notifications</span>
             <div class="dropdown-divider"></div>
             <a href="#" class="dropdown-item">
                 <i class="fas fa-envelope mr-2"></i> 4 new messages
                 <span class="float-right text-muted text-sm">3 mins</span>
             </a>
             <div class="dropdown-divider"></div>
             <a href="#" class="dropdown-item">
                 <i class="fas fa-users mr-2"></i> 8 friend requests
                 <span class="float-right text-muted text-sm">12 hours</span>
             </a>
             <div class="dropdown-divider"></div>
             <a href="#" class="dropdown-item">
                 <i class="fas fa-file mr-2"></i> 3 new reports
                 <span class="float-right text-muted text-sm">2 days</span>
             </a>
             <div class="dropdown-divider"></div>
             <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
         </div>
     </li>-->
                <!--<li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
        </a>
    </li>-->
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="~/Content/theme/index3.html" class="brand-link">

                <img src="~/Content/img/logo1.jpg" alt="Hero Future Energies" class="brand-image  elevation-3" style="opacity: .8; max-height: 40px; margin-top: 7px; ">
                <span class="brand-text font-weight-light" style="line-height: 1.0 !important ;">HERO FUTURE <br><small style="padding-left: 0%;">ENERGIES</small></span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <!--<div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/theme/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Sujit Kumar</a>
                    </div>
                </div>-->
                <!-- SidebarSearch Form -->
                <!--<div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>-->
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="~/Home/Dashbord" class="nav-link">

                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard

                                </p>
                            </a>
                        </li>
                        @if (ucnt > 0)
                        {
                            <li class="nav-item">
                                <a href="~/Admin/FileUpload/Upload" class="nav-link">
                                    <i class="nav-icon fas fa-upload"></i>
                                    <p>
                                        File Upload
                                    </p>
                                </a>
                            </li>
                        }
                        @if (@HttpContextAccessor.HttpContext.Session.GetString("role") == "Admin")
                        {
                            <li class="nav-item">
                                <a href="~/Admin/FileUpload/Upload" class="nav-link">
                                    <i class="nav-icon fas fa-upload"></i>
                                    <p>
                                        File Upload
                                    </p>
                                </a>
                            </li>
                        }

                        @if (approvalCnt > 0 || @HttpContextAccessor.HttpContext.Session.GetString("role") == "Admin")
                        {
                            <li class="nav-item">
                                <a href="~/Home/ImportApproval" class="nav-link">
                                    <i class="nav-icon fas fa-thumbs-up"></i>
                                    <p>
                                        import Approval
                                    </p>
                                </a>
                            </li>
                        }


                        @if (windView > 0)
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Wind Views
                                        <i class="fas fa-angle-left right"></i>

                                    </p>
                                </a>
                                @for (int i = 0; i < @usermodel.access_list.Count; i++)
                                {
                                    if (@usermodel.access_list[i].page_type == 1 && @usermodel.access_list[i].site_type == 1)
                                    {

                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="@Url.Action(@usermodel.access_list[i].action_url, @usermodel.access_list[i].controller_name, new { Area = "" })" class="nav-link">
                                                    <i class="far  nav-icon"></i>
                                                    <p>@usermodel.access_list[i].display_name</p>
                                                </a>
                                            </li>
                                        </ul>

                                    }
                                }
                            </li>
                        }
                        @*<li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                    Wind Views
                    <i class="fas fa-angle-left right"></i>

                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="~/Home/WindGenView" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>Gen Summary</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/WindDailyTargetKPIView" class="nav-link">
                        <i class="far nav-icon"></i>
                        <p>Daily Target KPI</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/WindDailyLoadSheddingView" class="nav-link">
                        <i class="far nav-icon"></i>
                        <p>Daily Load Shedding</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/Home/WindMonthlyTargetKPIView" class="nav-link">
                        <i class="far nav-icon"></i>
                        <p>Monthly Target KPI</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/WindMonthlyLinelossView" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>Monthly LineLoss</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/WindMonthlyJMRView" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>Monthly JMR</p>
                    </a>
                </li>
            </ul>
        </li>*@
                        @if (solarView > 0)
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-copy"></i>
                                    <p>
                                        Solar Views
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                @for (int i = 0; i < @usermodel.access_list.Count; i++)
                                {
                                    if (@usermodel.access_list[i].page_type == 1 && @usermodel.access_list[i].site_type == 2)
                                    {
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                @*<a href="~/@usermodel.access_list[i].controller_name/@usermodel.access_list[i].action_url" class="nav-link">*@
                                                <a href="@Url.Action(@usermodel.access_list[i].action_url, @usermodel.access_list[i].controller_name, new { Area = "" })" class="nav-link">
                                                    <i class="far  nav-icon"></i>
                                                    <p>@usermodel.access_list[i].display_name</p>
                                                </a>
                                            </li>
                                        </ul>
                                    }
                                }
                            </li>
                        }
                        @*<ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="~/Home/SolarGenView" class="nav-link">
                        <i class="far nav-icon"></i>
                        <p>Generation Summary </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/SolarDailyLoadSheddingView" class="nav-link">
                        <i class="far nav-icon"></i>
                        <p>Daily Load Shedding</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/SolarDailyTargetKPIView" class="nav-link">
                        <i class="far nav-icon"></i>
                        <p>Daily Target KPI</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="~/Home/SolarMonthlyTargetKPIView" class="nav-link">
                        <i class="far nav-icon"></i>
                        <p>Monthly Target KPI</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/SolarMonthlyLinelossView" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>Monthly LineLoss</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/SolarMonthlyJMRView" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>Monthly JMR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/SolarAcDcCapacityView" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>AC DC Capacity</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/SolarGHIPOA1MinView" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>1 Min GHI & POA</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Home/SolarGHIPOA15MinView" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>15 Min GHI & POA</p>
                    </a>
                </li>
            </ul>
        </li>*@
                        @*<li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                    Solar Views
                    <i class="fas fa-angle-left right"></i>

                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("SolarGenView", "Home")" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>Gen Summary</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("SolarDailyTargetKPI", "Home")" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>Daily Target KPI</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("SolarMonthlyTargetKPI", "Home")" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>Monthly Target KPI</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("SolarMonthlyLineLoss", "Home")" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>Monthly LineLoss</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("SolarJMR", "Home")" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>JMR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Solar_AC_DC_Capacity", "Home")" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>AC DC Capacity</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("SolarDailyLoadShedding", "Home")" class="nav-link">
                        <i class="far  nav-icon"></i>
                        <p>Daily Load Shedding</p>
                    </a>
                </li>
            </ul>
        </li>*@
                        @if (windReport > 0)
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-book"></i>
                                    <p>
                                        Wind Reports
                                        <i class="fas fa-angle-left right"></i>

                                    </p>
                                </a>
                                @for (int i = 0; i < @usermodel.access_list.Count; i++)
                                {
                                    if (@usermodel.access_list[i].page_type == 2 && @usermodel.access_list[i].site_type == 1)
                                    {
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                @*<a href="@Url.Action(@usermodel.access_list[i].action_url, @usermodel.access_list[i].controller_name)" class="nav-link">*@

                                                <a href="@Url.Action(@usermodel.access_list[i].action_url, @usermodel.access_list[i].controller_name, new { Area = "" })" class="nav-link">
                                                    <i class="far  nav-icon"></i>
                                                    <p>@usermodel.access_list[i].display_name</p>
                                                </a>
                                            </li>
                                        </ul>
                                    }
                                }
                            </li>
                        }
                        @if (solarReport > 0)
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-book"></i>
                                    <p>
                                        Solar Reports
                                        <i class="fas fa-angle-left right"></i>

                                    </p>
                                </a>
                                @for (int i = 0; i < @usermodel.access_list.Count; i++)
                                {
                                    if (@usermodel.access_list[i].page_type == 2 && @usermodel.access_list[i].site_type == 2)
                                    {
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                @*<a href="@Url.Action(@usermodel.access_list[i].action_url, @usermodel.access_list[i].controller_name)" class="nav-link">*@
                                                <a href="@Url.Action(@usermodel.access_list[i].action_url, @usermodel.access_list[i].controller_name, new { Area = "" })" class="nav-link">
                                                    <i class="far  nav-icon"></i>
                                                    <p>@usermodel.access_list[i].display_name</p>
                                                </a>
                                            </li>
                                        </ul>
                                    }
                                }
                            </li>
                        }
                            @*<ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="@Url.Action("SolarSiteMaster", "Home")" class="nav-link">
                                <i class="far  nav-icon"></i>
                                <p>Solar Site Master</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("SolarLocationMaster", "Home")" class="nav-link">
                                <i class="far  nav-icon"></i>
                                <p>Solar Location Master</p>
                            </a>
                        </li>

                    <li class="nav-item">
                        <a href="@Url.Action("SolarGenReport", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Generation Reports</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("SolarBDReport", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Breakdown Reports</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("SolarPRReport", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Performance Reports</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("SolarWeeklyPRReports", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Weekly PR Reports</p>
                        </a>
                    </li>

                </ul>
            </li>*@
                            @if (@HttpContextAccessor.HttpContext.Session.GetString("role") == "Admin")
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-server"></i>
                                        <p>
                                            Administration
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("SiteUserMaster", "Home" , new { Area = "" })" class="nav-link">
                                                <i class="far  nav-icon"></i>
                                                <p>Site User Master</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            <li class="nav-item">
                                <a href="@Url.Action("Logout", "Home"  , new { Area = "" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Sign Out</p>
                                </a>
                            </li>
                            @*<li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Solar Reports
                        <i class="fas fa-angle-left right"></i>

                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("SolarReport", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Reports</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("SolarBDReport", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Breakdown Reports</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("SolarPRReport", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Performance Reports</p>
                        </a>
                    </li>

                </ul>
            </li>*@
                            @*<li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-server"></i>
                    <p>
                        Administration
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("WindSiteMaster", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Wind Site Master</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("WindLocationMaster", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Wind Location Master</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("SolarSiteMaster", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Solar Site Master</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("SolarLocationMaster", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Solar Location Master</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("WindFileUpload", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Wind File Upload</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("SolarFileUpload", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Solar File Upload</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("WindSiteUserMaster", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Wind Site User Master</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("SolarSiteUserMaster", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Solar Site User Master</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("WindDataApproval", "Admin")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Wind Data Approval Form</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("SolarDataApproval", "Home")" class="nav-link">
                            <i class="far nav-icon"></i>
                            <p>Solar Data Apprival Form</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("WindWeeklyPFReport", "Home")" class="nav-link">
                            <i class="far  nav-icon"></i>
                            <p>Wind Weekly PF Reports</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("SolarWeeklyPFReport", "Home")" class="nav-link">
                            <i class="far nav-icon"></i>
                            <p>Solar Weekly PF Reports</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Settings", "Home")" class="nav-link">
                    <i class="nav-icon fas fa-cog"></i>
                    <p>
                        Settings

                    </p>
                </a>
            </li>*@
                            <!--<li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                    Charts
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="@Url.Action("ChartJS", "Home")" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>ChartJS</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("FlotCharts", "Home")" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Flot</p>
                    </a>
                </li>

            </ul>
        </li>-->
                            <!--<li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                    Tables
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">

                <li class="nav-item">
                    <a href="@Url.Action("DataTable", "Home")" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>DataTables</p>
                    </a>
                </li>

            </ul>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>
                    Pages
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">

                <li class="nav-item">
                    <a href="@Url.Action("Profile", "Home")" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Profile</p>
                    </a>
                </li>

            </ul>
        </li>-->
                        </ul>

                </nav>
                <!-- /.sidebar-menu -->
            </div>

            <!-- /.sidebar -->
        </aside>

        @RenderBody()

        <button type="button" id="submitNotification" style="display:none" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title">Notification</h4>
                    </div>
                    <div class="modal-body" style="max-height: 300px; overflow: hidden; overflow-y: inherit; word-wrap: break-word;">
                        <p><div id="divnotification" ></div></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <!--<b>Version</b> 3.2.0-->
            </div>
            <!-- <strong>Copyright &copy; 2022 <a href="https://softeltech.in/">Softel Technologies</a>.</strong>-->
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
    </div>

    <!-- jQuery -->
    <script src="~/Content/theme/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="~/Content/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/theme/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/theme/dist/js/demo.js"></script>
    <!-- for dashbord-->
    <!--  <script src="~/Content/theme/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/theme/plugins/chart.js/Chart.min.js"></script>
    <script src="~/Content/theme/plugins/sparklines/sparkline.js"></script>
    <script src="~/Content/theme/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Content/theme/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/Content/theme/plugins/jquery-knob/jquery.knob.min.js"></script>-->
    <!--<script src="~/Content/theme/plugins/moment/moment.min.js"></script>
    <script src="~/Content/theme/plugins/daterangepicker/daterangepicker.js"></script>-->
    <!--<script src="~/Content/theme/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

    <script src="~/Content/theme/plugins/summernote/summernote-bs4.min.js"></script>-->

    <script src="~/Content/theme/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!--<script src="~/Content/theme/dist/js/pages/dashboard.js"></script>-->
    <script>
        var notification = '@TempData["notification"]';
        console.log(notification);
        if (notification != "") {
            let text = notification;
            const myArray = text.split(",");
            var mydata = "";
            for (var i = 0; i < myArray.length; i++) {
                mydata += myArray[i] + "<br>";
            }
            console.log("Mydata" + mydata);
            $("#divnotification").html(mydata);
            $("#submitNotification").click();
        }

         function updateLoginDetails() {
            var UserID = getCookie('userid')
            $.ajax({

                type: "POST",
                url: '@Url.Action("UpdateLoginStatus", "Home")' + '?userID=' + UserID,

                // url:"/Home/Login?username=" + username + "&pass=" + password,
                contentType: "application/json; charset=utf-8",
                //data: '{"username":"' + username + '","pass":"' + password + '"}',
                dataType: "html",
                success: function (result, status, xhr) {
                    console.log(result);
                    // var data = JSON.parse(result);
                    //console.log(data[0]['status']);
                    if (result == 'Success') {
                        //return RedirectToAction("Dashbord", "Home");


                    }
                    else {

                    }

                },
                error: function (xhr, status, error) {
                    //$("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }

            });
        }
        setInterval(function () {
            updateLoginDetails();
        }, 1000 * 60 * 4);



        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
